[2019-04-16 12:13] auggod opened #1 "Release stream2own app on github"
Documentation is still being written at this time.

[2019-04-16 15:18] auggod opened #2 "Write more browser tests for packages"
Most packages are components. Tests can be written with `tape` and ran with help of `tape-run`.

When using lerna, you would only need to run the command below once
[code]

[2019-04-19 14:46] auggod opened #3 "Add Travis CI"

[2019-04-19 15:08] #1 closed

[2019-04-19 21:01] lindner opened #4 "Update branding for icons in beta/assets/icons"
### Operating system

All

### Browser name and version

Chrome

### Expected behavior

When you add to home screen on mobile or create a desktop app using Chrome you should see the new Resonate brand.

### Actual behavior

You see the old branding.

### Steps to reproduce behavior

Add to home screen and look at the icon.

[2019-04-23 17:32] Jake-Gillberg opened #5 "Analytics"
Hello! Recently began talking with Peter about analytics and the need for artist / label / content page views. I'd be happy to help out with this :)

Sounds like Matomo is what was being used before, and possibly what you would like to use here? Seems like this could be a potential way forward (adding an event listener looking for url changes): https://developer.matomo.org/guides/spa-tracking .

A

[2019-04-23 22:22] tomkel opened #6 "Docker image"
Hello. Seeing as how this project hooks into nginx for prod, maybe it would be worth the effort to create a Dockerfile for this?

[2019-04-23 23:39] Jake-Gillberg opened #7 "Rich Social Sharing"
Link previews currently don't show artist specific content.

To get pretty looking previews, we need to serve static content to webcrawlers.

This looks like a good example nginx configuration to decide whether or not to pre-render, found in relationship to [prerender.io](https://prerender.io/) which looks like it has a service that can auto-render pages, but could be replaced by a custom endpoint

[2019-04-24 04:05] Jake-Gillberg commented on #7
I successfully used a locally running prerender server (port 3000) to return a static page using a modified version of beta.resonate.localhost.conf in the style of the above example:

[code]

[2019-04-24 04:19] Jake-Gillberg commented on #7
To get prerender running locally:
[code]

[2019-04-24 07:58] peteratomic commented on #7
Looked briefly at their service. My only concern would be caching. If an artist or label uploads a new file (song, album cover, profile image) and then expects that change to be live instantly, then we'd have a huge problem. If there's a way to do dynamic cache clearing on edits, then it could work, although I wonder how expensive it would get if we're essentially clearing the cache dozens of time

[2019-04-24 08:12] peteratomic commented on #7
@auggod checked and saw there's a way to do manual cache clearing. So then its simply a thing of making sure that every time an artist or label updates a page, those are cleared instantly.

[2019-04-24 10:17] auggod commented on #7
Also, there is another option available and cheaper for high volumes: https://www.prerender.cloud

My original idea to accomplish this is to use SSR capabilities of `bankai` which is the compiler we use as dev server and js bundler (browserify based).
Bankai has an [api](https://github.com/choojs/bankai#api) to setup more custom transforms based on routes, sadly this is not very well documented.

[2019-04-24 13:39] #4 closed

[2019-04-24 13:51] auggod commented on #6
Yes, it would be easier for everyone and not only an improvement for production. We plan to do static deployments with `now.sh`. Docker won't be needed in that case. The current unknown for me is how to deal with lerna monorepo and now.sh to automate deployments from github to now.sh.

[2019-04-24 13:58] auggod commented on #5
With choo, we could do this:

[code]

[2019-04-24 18:27] Jake-Gillberg commented on #7
Another option would be to try and self-run a prerender server and see if we could handle the volumes. Especially since the prerenderer going down wouldn't impact site availability, just the crawler previews.

In #10 I just dropped in choo-meta. I suppose the next step would be to start pushing more stuff into the metadata as described in this document: https://docs.google.com/document/d/1e6utQ25u

[2019-04-24 19:16] auggod commented on #7
Merged #10

[2019-04-25 07:56] blushi opened #11 "Link to artist profile not in "..." popup menu in bottom player controls banner"
### Expected behavior
In the bottom player banner, the "..." popup menu should have an "artist profile" link item such as in the popup menu in track list.

### Actual behavior
There's no "artist profile" link:
![Screen_Shot_2019-04-18_at_11 29 18_PM](https://user-images.githubusercontent.com/3149358/56719097-56013b80-6740-11e9-9ddd-e836c5674bf3.png)

[2019-04-25 08:03] peteratomic commented on #11
Think its because the hover effect isn't adjusting for the bottom position. The artist profile link is actually there, but hidden by the playbar. Solution would be to "anchor" the popup to the bottom rather than middle for the last item in lists.

Peter Harris
Resonate Founder + CEO

. . . . . . . . . . . . . . . . . . . . . . .
https://resonate.is
@resonatecoop
US +1-360-352-7062
Berlin +49160379

[2019-04-26 15:24] #11 closed

[2019-05-20 19:10] lindner opened #17 "Provide a consistent play/pause element in the DOM for Web Scrobbler"
### Browser name and version
Mainly Firefox, but covers all browsers.

### Expected behavior

An element in the DOM is available to plugins like [Web Scrobbler](https://github.com/web-scrobbler/web-scrobbler) to more easily determine if a track is playing.

Currently it is difficult and error prone to determine if a track is playing or not.

See https://github.com/web-scrobbler/web-scrobbler/issue

[2019-05-30 08:29] peteratomic opened #18 "Preview mode text to encourage signups"
Condition: when logged out.

1. Add text at the top "You're in preview mode. Click here to log in or sign up >"
2. Create an automatic popup modal after listening to three songs in preview mode.

![preview-text](https://user-images.githubusercontent.com/7466182/58619726-bd715480-82c5-11e9-8248-7ce36e2f1e74.png)
![previewmode-popup](https://user-images.githubusercontent.com/7466182/58619729-be09eb0

[2019-06-06 09:31] timotheegoguely opened #19 "Album pages doesn’t work"
### Operating system
macOS 10.14.5

### Browser name and version
Chrome 74

### Expected behavior
Album pages should be working

### Actual behavior
All album links are broken: they all redirect to this url https://beta.resonate.is/albums/dezdez

<img width="1552" alt="404 Page not found" src="https://user-images.githubusercontent.com/8271134/59022728-a3e48580-884e-11e9-8708-6711d8d537ee.png">

##

[2019-06-06 13:24] auggod commented on #19
Single albums pages are not implemented yet. Those links should not have been there in the first place.
This will be fixed in the next release wich adds pagination for most playlists, labels, albums etc...
I'll close when the update is released.

[2019-06-06 15:31] peteratomic opened #20 "Artists should be able to play their own tracks for free"
If artist is logged in to player, then free plays of their own tracks.

[2019-06-07 19:50] Fang- opened #22 "After topping up credits, songs still limited to 45 seconds"
Songs started playing for only 45 seconds, and those plays were (correctly) not registering anymore. I had run out of credits.

After topping them up (pretty good flow (: ) I tried to continue playing, but could only get songs to play for 45 seconds still. Reload, re-login did nothing. Had to manually clear all cookies for resonate domains to get playback to happen normally again.

It _might_ have

[2019-06-07 19:52] Fang- opened #23 "Should notify user when running out of credits"
When credits reach `0`, songs start playing their 45-second preview instead of the full thing. While that's audible, it still feels like it happens kind of silently, and it takes me a few songs to realize what's going on.

Probably want a small audio cue/prompt here to inform the user of this.

[2019-06-07 23:21] Fang- opened #24 "When playing from a list, stops on end of page"
At least, this is what I'm experiencing when playing from `/playlist/latest`.

If you're playing the last song on the page, and it either finishes or you hit the "next song" button, it just stops playing.

Expected behavior here is to keep playing with songs on the next page. Instead, I have to manually move to the next page and start playback again.

[2019-06-08 09:59] #19 closed

[2019-06-08 10:20] auggod commented on #24
I think it's time to have a proper queue system and UI. I'd like to have control over how many tracks to play in a row and those to skip. Should be easy enough to prefetch the next pages if playlist is about to reach the end.

[2019-06-08 12:48] auggod commented on #22
Stream url for full and truncated tracks is the same. This leads to caching issues unfortunately... Having to handle two different urls is not nice, we would need to refetch current playlist and rerender everything. I'll figure out what's the best way to handle this problem.

[2019-06-10 09:36] timotheegoguely opened #26 "Infinite pagination"
### Expected behavior
Pagination shouldn't contain empty pages.

### Actual behavior
Pagination on artists / albums / tracks pages is infinite.

<img width="544" alt="Infinite pagination" src="https://user-images.githubusercontent.com/8271134/59186537-609e5580-8b73-11e9-86e1-e67395ef3f1a.png">

### Steps to reproduce behavior

- Example on label page: [https://beta.resonate.is/labels/7929/artists?

[2019-06-11 07:24] auggod commented on #26
API need to be updated to return the number of pages to expect. Once we have that, i can add a `numberOfPages` prop on pagination component.

[2019-06-13 20:53] Fang- commented on #22
Naive suggestion: how about clearing cache on-fund?

[2019-06-14 08:18] blushi commented on #20
@auggod I suppose this mainly involves changes in the API and not in the front-end app itself?

[2019-06-14 08:54] auggod commented on #22
I added a parameter preview=true|false to stream urls based on current credit amount. It should prevent caching problems. It won't work for a track currently playing, you'll have to play a different track first. This should be enough until we find a better way to handle this problem.

[2019-06-14 08:58] auggod commented on #20
Yes

[2019-06-27 12:08] auggod commented on #26
#27 Merged update to fix infinite pagination issue

[2019-06-27 12:08] #26 closed

[2019-07-10 10:07] auggod commented on #7
Discussion about implementing prerender.io server should be closed.
In the following branch: [jalla](https://github.com/resonatecoop/stream2own/tree/jalla), I replaced bankai with jalla (still pre-release)
Jalla is especially useful because it has now a `prefetching data` feature. Read more about this here: https://github.com/jallajs/jalla#prefetching-data
Should we start a new issue called `prefe

[2019-07-10 10:30] blushi commented on #7
@auggod yes I'll close this issue and you can create a new one `prefetching data`.

[2019-07-10 10:30] #7 closed

[2019-07-10 14:01] auggod opened #28 "Prefetching data"
Following issue #7 (closed) We can start a new discussion here about `prefetching data`

We are already testing [jalla](https://github.com/jallajs/jalla) in the wild using its `prefetching data` feature. Read more about this here: https://github.com/jallajs/jalla#prefetching-data

You can try out this feature using the following url:
https://beta.resonate.is/artists/9350?_escaped_fragment_=
Gotcha

[2019-08-13 11:04] regisfrias opened #29 "Continuous play not working after screen is locked (iOS)"
### Operating system
iOS 12.4 (iPhone).

### Browser name and version
Safari 12.4, Firefox 18.1 (15719), Chrome 76.0.3809.81. (Probably OS-level issue?)

### Expected behavior
Continuous play.

### Actual behavior
When screen is locked the next song won't play. When the phone is unlocked the next song shows as playing (pause button is active), but not really playing. To resume play you need to hit

[2019-08-14 11:30] auggod commented on #29
Can you try changing Safari settings for autoplay? Autoplay might be prevented for safari and other browsers. I don't have an ios device with me to check that issue right now.

[2019-08-14 13:40] regisfrias commented on #29
I guess I can't choose that myself.

https://bitmovin.com/play-not-play-new-autoplay-policies-safari-11-chrome-64/

This article mentions this, though:

[code]

This should at least show the play button instead of pause as it is now when I reopen the screen.

[2019-08-30 17:45] lindner opened #31 "Not Authorized to Play messages."
### Operating system
MacOS 10.14.3

### Browser name and version
Chrome Stable v77

### Expected behavior

Have balance decrement, not see error popups

### Actual behavior

I somehow have an expired token in my browser session, but I can still listen to music.  I don't see my balance decrementing and I see an toast message `Not authorized to play`.  Reloading by logout/login shows that the tracks

[2019-08-30 21:10] auggod commented on #31
Your client id should not be shared publicly, so I assigned a new one to your account. You'll have to login again.
Token lifetime is quite short. (only 24h) Also, it seems, we're having problems getting a refreshed token in time on the frontend. I'll see what's best to do. Maybe, we should increase token lifetime as it seems these kind of errors are becoming redundant.
You don't need a token to lo

[2019-09-02 09:35] timotheegoguely opened #32 "Direct links to tracks or artists doesn’t work in Chrome and Safari"
### Operating system
macOS 10.14.6

### Browser name and version
Chrome Version 76.0.3809.132
Safari 12.1.2

### Expected behavior
Links to [tracks](https://beta.resonate.is/tracks/13247) or [artists](https://beta.resonate.is/artists/650) should display the actual track page on Resonate app.

### Actual behavior
When I click on a track or artist URL from a webpage – like the links on [this page](h

[2019-09-03 08:10] auggod commented on #32
I think this issue is related to #31.

[2019-09-03 08:13] auggod commented on #31
I released a fix. Instead of 'Not Authorized to Play messages' the user will be logged out and prompted to login again. I have not increased the token lifetime yet.

[2019-09-30 14:18] blushi opened #35 "Play button in the player bar becomes black in dark mode"
### Expected behavior
The play button should stay white in dark mode.

### Actual behavior

![image](https://user-images.githubusercontent.com/3149358/65887305-03d2df00-e39e-11e9-867c-bfd22e8a94a9.png)

### Steps to reproduce behavior
Play a track in dark mode then press pause (from the track player or the player bar).

[2019-10-01 12:00] auggod commented on #35
This is being taken care of. An update is coming shortly to fix this issue.

[2019-10-01 12:00] #35 closed

[2019-10-08 09:45] #32 closed

[2019-10-08 09:46] #31 closed

[2019-10-09 13:40] auggod commented on #35
Issue has been fixed as of today.

[2019-11-06 09:36] blushi opened #37 "Improve random feature"
### Expected behavior
Clicking again on "random" when already on the random page should load new random tracks.

### Actual behavior
It's doing nothing.

### Steps to reproduce behavior

[2019-11-06 09:42] peteratomic commented on #37
I've noticed this as a general issue across the PWA... that being in a section (like "New") and then clicking the "new" link also has no result. You have to click some other link, go to a different section, then go back as a "link to the section where I already am" isn't understood by the PWA.

[2019-11-06 10:54] auggod commented on #37
A link is not a button. I don't expect the page to change at all when clicking a link which leads to the exact same page. We can change this link to a button and make it obvious that it will fetch new content. Was this feature documented before when we updated the player back in 2017?

[2019-11-07 10:09] peteratomic commented on #37
Sorry, maybe I shouldn't have tried to combine the issues. Sure my example is a rare case and certainly reveals my lack of technical understanding of how a PWA works. But from a user perspective, when you mouse over a link that you've clicked on in the past, and the mouse hand reacts (as if its a link) then it (IMHO) should perform like a link. With standard pages this happens all the time. You ca

[2020-01-30 13:52] rcffc opened #38 "lerna does not install dependencies"
### Operating system
Windows 10

### Browser name and version
Chrome 79.0

### Expected behavior
`lerna bootstrap` should install dependencies.

### Actual behavior
`lerna bootstrap` throws
[code]

### Steps to reproduce behavior
I uninstalled node.js and nvm and deleted folders that relate to them.
Then I installed nvm with version 12.14.1 and ran
[code]
but it gave me the same error.
Then I unin

[2020-02-07 10:44] auggod commented on #38
The installation fails because the root `package.json` file does not contain a version field. This is the first time I see this error for a private package.
You may checkout 'develop' branch. Master branch is way behind. I added a "0.0.0" version number as a placeholder.
Also make sure to use the latest version of npm and lerna.

[2020-02-08 12:01] rcffc commented on #38
Installed the latest npm version 6.13.6 and switched to dev. But still, no luck:

[code]

[2020-02-19 14:51] auggod commented on #38
Ok, it's complaining only about "tools" package. You may try again after pulling the changes from "develop".

[2020-02-20 13:08] rcffc commented on #38
Thanks, that has fixed the problem!

[2020-02-24 15:22] #38 closed, assigned to nobody

[2020-03-30 06:57] webwelten opened #40 "Song context menu hidden by music player"
### Operating system
OSX

### Browser name and version
Firefox 74

### Expected behavior
Menu should be visible above the music player or open in the other direction (top).

### Actual behavior
Song context menu hidden by music player

### Steps to reproduce behavior
Scroll a songlist to the bottom and try using the menu on the right.

<img width="832" alt="Screenshot 2020-03-29 at 15 08 57" src="

[2020-03-30 07:05] webwelten opened #41 "Pagination takes too much space"
### Operating system
OSX

### Browser name and version
Firefox 74

### Expected behavior
A pagination underneath a songlist should feel like consistent design.

### Actual behavior
Seems either broken or not consistent. Why do I need to scroll that much?

### Steps to reproduce behavior
Visit https://beta.resonate.is/playlist/latest and scroll to the bottom.

<img width="827" alt="Screenshot 2020-

[2020-03-30 07:14] webwelten opened #42 "Icon purpose not clear or ambigous"
### Operating system
OSX

### Browser name and version
Firefox 74

### Expected behavior
Don't know yet.

### Actual behavior
The icon is also used as loading indicator, which makes it ambiguous.
It doesn't a label on hover.
It's not self-explanatory if you're just exploring the app without being registered.

### Steps to reproduce behavior

<img width="1280" alt="Screenshot 2020-03-28 at 21 48 55

[2020-04-02 19:22] auggod commented on #42
Thank you for this. I think, at least it should be hidden for non registered users.
Also + 1 for the label. It was planned to added a label as shown in the screenshot below.
<img width="472" alt="Screenshot 2020-04-02 at 21 19 41" src="https://user-images.githubusercontent.com/1394538/78292674-b50e2980-7527-11ea-99c7-3694b3bad18b.png">

This should be added in a future release.

[2020-04-02 19:32] auggod commented on #40
It lacks some padding in the bottom of this view, got to increase it.

[2020-04-07 07:41] cstrouse opened #43 "Installation instructions don't yield working system"
### Operating system
Debian 9

### Browser name and version
N/A

### Expected behavior
Following installation instructions yields environment that I can test the software with.

### Actual behavior
Deprecated npm packages, unable to bootstrap using lerna, no start command available to npm.

### Steps to reproduce behavior
<img width="1733" alt="Screen Shot 2020-04-07 at 12 37 26 AM" src="https://u

[2020-04-07 07:43] #43 closed, assigned to nobody

[2020-11-06 15:38] giraffekey opened #47 "Change .localhost to .is for API?"
If you have the `API_DOMAIN` set to `api.resonate.localhost` the page displays "Failed to fetch artists" however if you change your `.env` file to have it set as `api.resonate.is` it loads the artists correctly. Is there any reason to still have it set to `.localhost` or should this be changed in `.env.example`?

[2020-11-07 14:14] auggod commented on #47
The current api has yet to be open sourced. At least we plan to open source a 'v2' one that you could run locally.
So, for now you may just set api.resonate.is as the API_DOMAIN in your .env file.
For development, I only suggest to use *.resonate.localhost because it's always whitelisted in our CORS config. You may generate a self signed certificate for it too.

[2020-12-18 04:56] caspiano opened #48 "RFC: more general concept of 'favourite'"
Currently, you may only favourite a track.
it would be nice to also favourite albums if you intend to revisit albums as a whole.

[2020-12-18 04:57] caspiano opened #49 "RFC: label and artist 'follows'"
Keeping up with releases is difficult without a 'follow' mechanism for labels and artists.

[2021-01-07 22:27] #28 closed

[2021-01-15 16:06] auggod opened #50 "0.0 Login"
As a user, I want to be able to:

- login using my email and password
- request forget password

[2021-01-15 16:07] auggod opened #51 "0.2 Welcome"
As a newly signed up user, I want to be presented with a welcome page so that I understand the concept of public profile (UserGroup) and be able to create a first one from there.

https://www.figma.com/file/CrTEIjth3aD0yJ6MiyMK4V2B/0.0-Onboarding

[2021-01-15 16:07] auggod opened #52 "0.3-0.4-0.5 Create User Group (profile)"
As a user, I want to be able to create a new user group I'll be the owner of (either right after sign up/welcome page or from 9. Account Settings):

0.3 - Assign a user group type: artist, label or neither https://www.figma.com/file/CrTEIjth3aD0yJ6MiyMK4V2B/0.0-Onboarding?node-id=1%3A80

0.4 - Fill out basic info: display name, short bio, profile picture, header image, location, links https://www.

[2021-01-15 16:17] auggod opened #53 "1.0 Feed"
As a user, I want to see my Feed first after signing up/logging in, so that I can check out:

- Last added albums and tracks from followed artist user groups
- Last added playlists from followed user groups (NB handled from back-end: if they set their playlists as public)
- Last recommended artists from followed user groups (if they set their recommended artists as public)
- Latest news from Reson

[2021-01-15 16:18] auggod opened #54 "2.0 Discovery"
As a user, I want to access a "Discover" page so I can see:

- Currently featured artist
- Currently featured label
- Currently featured playlist
- Currently featured genres each associated with a particular album
- Previously featured

https://www.figma.com/file/MvPnWW13aStoInVXyaikMpxQ/2.0-Discovery (i2)

[2021-01-15 16:18] auggod opened #55 "3.0-3.1-3.2-3.3 Library"
As a user, I want to access my Library in order to consult my:

- Favourites tracks
- Owned tracks (renaming to collection)
- Playlists
- History
https://www.figma.com/file/YKXtA7E9WSh1mYqGVLWnK0Em/3.0-Library

[2021-01-15 16:18] auggod opened #56 "4.0 Search"
As a user, I want to be able to search by:

- user group display name (can be user [people], artist, label)
- genre name
- track group title (can be release, playlist)
- track title.
Then I want to be presented with a list of all results or grouped results by:

artists: click on result item => profile page
album: click on result item => album page
labels: click on result item => profile page
peopl

[2021-01-15 16:18] auggod opened #57 "5.1 Artist Profile"
As a user, I want to check a public artist profile page I don't own that contains:

- Banner image if exists
- Profile picture
- Name
- Follow button (not in 7.x)
- Short bio if exists (not in 7.x)
- Highlights if exists: list of highlighted tracks (top tracks by number of plays)
- Featured album if exists
- Discography if exists: list of albums => click on album leads to album page
- Recommended

[2021-01-15 16:18] auggod opened #58 "5.2 User Profile"
As a user, I want to check a public user profile page I don't own that contains:

- Banner image if exists
- Profile picture
- Name
- Follow button (not in 7.x)
- Short bio if exists
- Featured playlist if exists
- Playlists if exist: list of playlists => click on playlist leads to playlist page
- Recommended artists if exists => click on artists leads to artist page (not in 7.x)
- Favourites if e

[2021-01-15 16:18] auggod opened #59 "5.3 Label Profile"
As a user, I want to check a public label profile page I don't own that contains:

- Banner image if exists
- Profile picture
- Name
- Follow button
- Short bio if exists
- Featured album if exists
- Artists if exist: list of artists => click on artists leads to artist page
- Discography: list of albums => click on album leads to album page
- Playlists if exist: list of playlists => click on playl

[2021-01-15 16:18] auggod opened #60 "6.0 Album Page"
As a user, I want to consult an album page that contains:

- Artwork
- Album name
- Artist name
- Tracklist
- Label name if exists: on click => to Label Profile page
- Release year
- Artwork credits if exists: if user public profile - on click => to User Profile page
- Other credits
https://www.figma.com/file/SDjDuZ7UV0AMRwsl9FXu0DFa/6.0-Album-Page

[2021-01-15 16:18] auggod opened #61 "7.0 Playlist Page"
As a user, I want to consult a public playlist page that contains:

- Banner image
- Playlist name
- Number of tracks
- User profile name and avatar
- If owner of the playlist: Edit button https://www.figma.com/file/Y6lIx4Tfo8p3A4XgtNCfzbEm/7.0-Playlist-Page?node-id=36%3A1527. Leads to version of 3.4 CREATE PLAYLIST view for editing.
- Tracklist
https://www.figma.com/file/Y6lIx4Tfo8p3A4XgtNCfzbEm/

[2021-01-15 16:19] auggod opened #62 "3.4 Create Playlist"
As a user, I want to be able to create a new playlist and set:

- Title
- Header image
- Privacy: checkbox Private/Public
- Public disabled if user does not have a public profile (link to "Create a profile now") https://www.figma.com/file/Y6lIx4Tfo8p3A4XgtNCfzbEm/7.0-Playlist-Page?node-id=36%3A1732
- If user has multiple public profiles, there is a dropdown to choose which one will own the new pla

[2021-01-15 16:35] auggod commented on #55
Owned tracks will be renamed to 'Collection'

[2021-01-15 16:36] peteratomic commented on #54
IMHO the term "discover" should be avoided as Discover Weekly has been a Spotify brand for years.

That said, I don't think we should worry about it for now. Can be discussed in the forums after launch. Much better to get some community participation on this since we're trying to completely reframe the values and relationships represented here.

[2021-01-15 16:51] auggod commented on #50
The new id server is not released yet. Will update this issue once it's done.

[2021-01-15 16:52] auggod commented on #51
This is part of the new id server but we're adding this here for future reference.

[2021-01-15 16:57] auggod opened #63 "9.4 Analytics"
As a artist/label user group owner or member, I want to be able to check track analytics as a table with the following columns: (for label user group, per artist)

- track
- total streams
- paid, previews
- credits earned
- artist share
- resonate share
Design updated - AlexC https://www.figma.com/file/czlMLbAWrrHbSQuoQWCeCJk6/9.0-Settings?node-id=7%3A99 data table / empty state?

[2021-01-15 16:57] auggod opened #64 "9.3 Co-op"
As the Member API won't realistically be ready for the MVP, let's have a message there to tell the user it's coming soon https://www.figma.com/file/czlMLbAWrrHbSQuoQWCeCJk6/9.0-Settings?node-id=7%3A67

[2021-01-15 16:58] auggod opened #65 "9.2. Credits"
As a user, I want to know:

- my credits balance
- average listening hours equivalent
- number of owned tracks
- number of supported artists
- Listening time (not in 7.x)
- Add credits

https://www.figma.com/file/czlMLbAWrrHbSQuoQWCeCJk6/9.0-Settings

[2021-01-15 16:58] auggod opened #66 "9.2 Add Credits"
As a user, I want to be able to:

- add credits by choosing the € amount and seeing the equivalent credits. Design updated - AlexC Preset amounts or free input? https://www.figma.com/file/czlMLbAWrrHbSQuoQWCeCJk6/9.0-Settings?node-id=7%3A149
- pay using different payment options: Stripe, Resonate token (not mastercard, visa or paypal as in the current design as of 07/16/2018) https://www.figma.com

[2021-01-15 16:58] auggod opened #67 "9.1 Account Settings"
As a user, I want to be able to:

- change my email address
- change full name Design added - AlexC
- change username Design added - AlexC
- see my list of existing profiles, edit, delete them  (not in 7.x)
- add a new profile (not in 7.x)
- change password
- set newsletter notification Design added - AlexC suggestion: could be a simple check box
- delete account Design added - AlexC suggestion: a

[2021-01-15 16:59] milieuChris commented on #54
This discovery piece is my #1 complaint with music services today. Google's offering prior to moving that team to YouTube almost worked as the radio stations did a god job of mixing up the music. Pandora almost works in the same way, by offering up "radio stations" based on some starting point. I believe we can do better than that 20 years on however.

For what it is worth, i was personally respon

[2021-01-15 17:13] auggod commented on #63
This is part of upload tool (or dashboard).

[2021-01-15 17:29] auggod commented on #54
To be clear, we haven't worked much on design since summer 2018. I'm just migrating old issues coming from our self hosted gitlab so we can discuss and rework them. The featured artists, labels, etc.. is something we have on Resonate for a long time already which has been difficult to maintain. In the short term, we're coming with a long awaited playlisting feature.

[2021-01-15 17:45] auggod opened #68 "10.0 Upload tracks"
As an artist or a label user group owner, I want to be able to upload a new release:

Release info:
- select profile if owner of more than one (required)
display artist (could be different from profile display name, in the case of a compilation for example)
- title (required)
- artwork (required)
- about
- label (required)
- genres
- release date (required)
- catalog number
- ? total volumes
- ? t

[2021-01-15 17:45] auggod opened #69 "9.5 Edit User Group profile"
As a User Group Owner, I want to be able to edit my User Group info from the settings:

- Name
- if User Group of type "user": change type to artist or label
- Location (BE note: query User/Track API address search autocomplete endpoint, it uses Algolia Places API https://community.algolia.com/places/)
- Add/Remove links
- Upload profile picture and header image
- Add/Remove music genres

Privacy:

[2021-01-19 16:56] peteratomic commented on #54
@milieuChris are you on the Resonate community forum? Just posted a thread there on this topic: https://community.resonate.is/t/discovery-as-a-menu-item-general-music-search-term/922

Would be AMAZING to have your input on this!

[2021-01-20 12:32] nmeyne commented on #49
Thanks yes:    See this issue, and the corresponding work on our User API:   https://github.com/resonatecoop/resonate/issues/53

[2021-01-21 16:48] auggod opened #70 "Test issue for automation"
### Operating system
Write here.

### Browser name and version
Write here.

### Expected behavior
Write here.

### Actual behavior
Write here.

### Steps to reproduce behavior
Write here.

[2021-01-21 16:52] #70 closed, assigned to nobody

[2021-03-29 12:36] caspiano commented on #49
Duplicate of #53

[2021-03-29 12:36] #49 closed, assigned to nobody

[2021-04-06 13:22] justin-hackin commented on #60
Related: as a user, I would like to be able to play only a single album.  My expectation is that playing from the album page will do this.

[2021-04-26 08:49] angusmcleod commented on #67
Moved to https://github.com/resonatecoop/id/issues/21

[2021-04-26 09:05] angusmcleod opened #72 "Create new menu button options component with websharing"
Create share button with different behaviour on mobile and desktop, which consumes dialogue and menu button components.

[2021-04-26 09:16] angusmcleod opened #73 "Migrate from static API endpoint generation for tracks API"
Migrate the static API endpoint generation to using swagger definitions in the tracks API

[2021-04-26 09:25] angusmcleod opened #74 "Migrate relevant components to the new User API"
- First conduct a review to see which data actually needs to be retrieved from the User API v the Tracks API.
- Then migrate relevant components to the new User API

[2021-04-26 09:43] angusmcleod opened #75 "Migrate Authorization to ID server"
Use the OAuth 2.0 flow to Authorize users in the player

[2021-04-26 09:44] angusmcleod commented on #75
@auggod Please push to a new branch and ping me

[2021-04-28 13:57] auggod opened #76 "Migrate from lerna to npm 7 workspaces"
Determine if migrating from lerna to npm 7 worspaces is a good idea. This will require some more experimentation on my end.

[2021-05-04 23:06] hakanto commented on #68
moved to https://community.resonate.is/t/upload-tracks/1215

[2021-05-04 23:06] #68 closed, assigned to auggod

[2021-05-04 23:09] #2 closed

[2021-05-04 23:09] #3 closed

[2021-05-04 23:09] #5 closed

[2021-05-04 23:09] #6 closed

[2021-05-04 23:09] #17 closed

[2021-05-04 23:09] #18 closed

[2021-05-04 23:09] #20 closed

[2021-05-04 23:09] #22 closed

[2021-05-04 23:09] #23 closed

[2021-05-04 23:09] #24 closed

[2021-05-04 23:09] #29 closed

[2021-05-04 23:09] #37 closed, assigned to nobody

[2021-05-04 23:09] #40 closed, assigned to nobody

[2021-05-04 23:09] #41 closed, assigned to nobody

[2021-05-04 23:09] #42 closed, assigned to nobody

[2021-05-04 23:09] #47 closed, assigned to nobody

[2021-05-04 23:10] hakanto commented on #66
moved to https://community.resonate.is/t/add-credits/1216

[2021-05-04 23:10] #66 closed, assigned to auggod

[2021-05-04 23:15] hakanto commented on #65
moved to https://community.resonate.is/c/platform/player/53

[2021-05-04 23:15] #65 closed, assigned to auggod

[2021-05-05 11:26] auggod opened #79 "Upgrade standard and fix any issues"
We can upgrade standardjs to v16. We're still using v14.x.

[2021-05-05 11:34] auggod opened #80 "Fully replace bankai with jalla"
Removing bankai would clear most npm audit warnings. Also, it's still on babel6.  I'll setup a branch to test static builds for prod and look for anything missing.

[2021-05-06 13:21] auggod commented on #79
Done. #81

[2021-05-06 13:21] #79 closed, assigned to auggod

[2021-05-07 16:17] #72 closed, assigned to auggod

[2021-05-11 20:25] hakanto commented on #61
moved to https://community.resonate.is/t/playlist-page/1253

[2021-05-11 20:25] #61 closed, assigned to auggod

[2021-05-11 20:29] hakanto commented on #60
moved to https://community.resonate.is/t/album-page/1254

[2021-05-11 20:29] #60 closed, assigned to auggod

[2021-05-11 20:33] hakanto commented on #59
moved to https://community.resonate.is/t/label-profile/1255

[2021-05-11 20:33] #59 closed, assigned to auggod

[2021-05-11 20:35] hakanto commented on #58
moved to https://community.resonate.is/t/user-profile/1256

[2021-05-11 20:35] #58 closed, assigned to auggod

[2021-05-11 20:37] hakanto commented on #57
moved to https://community.resonate.is/t/artist-profile/1257

[2021-05-11 20:37] #57 closed, assigned to auggod

[2021-05-11 20:41] hakanto commented on #62
moved to https://community.resonate.is/t/create-playlist/1258

[2021-05-11 20:41] #62 closed, assigned to auggod

[2021-05-11 20:47] hakanto commented on #63
moved from https://community.resonate.is/t/artist-analytics/1259

added "Artist" to title: Artist Analytics, to distinguish from User/Listener Analytics

[2021-05-11 20:47] #63 closed, assigned to auggod

[2021-05-11 20:50] hakanto commented on #56
moved to https://community.resonate.is/t/search-bar/1260

[2021-05-11 20:50] #56 closed, assigned to auggod

[2021-05-11 20:58] hakanto commented on #69
moved to https://community.resonate.is/t/edit-user-group-profile/1261/2

[2021-05-11 20:58] #69 closed, assigned to auggod

[2021-05-11 21:02] hakanto commented on #67
moved to https://community.resonate.is/t/user-account-settings/1262

Added "User" to name: User Account Settings

[2021-05-11 21:02] #67 closed, assigned to auggod

[2021-05-11 21:04] hakanto commented on #53
Added to https://community.resonate.is/t/user-feed/1263

Added "User" to name: "User Feed"

[2021-05-11 21:04] #53 closed, assigned to nobody

[2021-05-11 21:07] hakanto commented on #55
https://community.resonate.is/t/user-music-library/1264

Changed name to "User Music Library".

[2021-05-11 21:07] #55 closed, assigned to auggod

[2021-05-11 21:20] hakanto commented on #54
moved to https://community.resonate.is/t/discovery-page/1265

Added a bit of context to the post, explaining that little work has been done on this story since 2018 and that we are looking for community input/vision on it.

[2021-05-11 21:20] #54 closed, assigned to auggod

[2021-05-11 23:03] hakanto commented on #52
moved to https://community.resonate.is/t/create-user-group-profile/1266

[2021-05-11 23:03] #52 closed, assigned to nobody

[2021-05-11 23:05] hakanto commented on #48
item saved here: https://community.resonate.is/t/user-music-library/1264/2

[2021-05-11 23:05] #48 closed, assigned to nobody

[2021-05-11 23:10] hakanto commented on #64
moved to https://community.resonate.is/t/co-op-page/1267

[2021-05-11 23:10] #64 closed, assigned to auggod

[2021-05-20 21:30] hakanto opened #82 "Upgrade standardjs to v16"
"Upgrade standardjs to v16. We're still using v14.x." - @auggod

moved from [basecamp](https://3.basecamp.com/4462384/buckets/16182730/todos/3736149720). move elsewhere or delete if irrelevant.

[2021-05-25 22:47] #50 closed, assigned to auggod

[2021-05-25 22:47] #51 closed, assigned to auggod

[2021-06-01 21:06] hakanto opened #83 "Tracks unable to play due to “corruption or unsupported features on browser”"
Some tracks that were uploaded in the early days of Resonate are having playback issues on particular browsers, prompting this error message:

_“The audio playback was aborted due to a corruption problem or because the video used features your browser did not support.”_

I’ve encountered the issue on Android Chrome PWA for Players 6 and 7. It doesn’t occur on Firefox Mobile.

The following songs h

[2021-06-01 21:26] hakanto opened #84 "On Discovery Page, header featured artist is not rotating through all featured albums"
### Operating system
Pop!_OS 20.10

### Browser name and version
Version 1.16.68 Chromium: 86.0.4240.111 (Official Build) (64-bit)

### Expected behavior
On [Discovery](https://beta.stream.resonate.coop/discovery) page, the featured artist at top of page is randomly selected from the 15 featured albums.

### Actual behavior
On [Discovery](https://beta.stream.resonate.coop/discovery) page, the feat

[2021-06-01 21:34] hakanto opened #85 "On Player 7, some tracks are missing trackgroup setting"
Some tracks are missing on Player 7 Artist Profiles which are present on Player 6 Artist Profiles, due to the originally uploaded tracks not receiving a trackgroup setting. Thus, these tracks were not picked up by the migration tool.

Examples:
https://beta.stream.resonate.coop/track/9216
https://beta.stream.resonate.coop/track/8133

[2021-06-01 21:53] hakanto opened #86 "On private playlists, thumbnail album art for tracks is sometimes not displaying"
### Operating system
Pop!_OS 20.10

### Browser name and version
Version 1.16.68 Chromium: 86.0.4240.111 (Official Build) (64-bit)

### Expected behavior
On a playlist page that has tracks added to it and has not been made public, I'd expect thumbnail album art to load next to each track (like on all pages).

### Actual behavior
On a playlist page that has tracks added to it and has not been made

[2021-06-01 21:57] hakanto opened #87 "Changing theme causes PWA app to appear empty/blank"
![heeeeeeyup](https://user-images.githubusercontent.com/72839766/120395328-724a0c00-c2fa-11eb-91c1-6dec2a0b79f1.jpeg)

[2021-06-29 20:43] hakanto opened #88 "Not functioning: "Playlists" tab; "add to playlist" button"
### Operating system
Pop!_OS 20.10

### Browser name and version
Version 1.16.68 Chromium: 86.0.4240.111 (Official Build) (64-bit)

### Expected behavior
* Library -> Playlists -> list of my playlists are available
* Use "add to playlist" button to create new playlist or add/remove track to a playlist

### Actual behavior
* Library -> Playlists -> no playlists available; message: "certificate has

[2021-07-02 20:47] #88 closed, assigned to nobody

[2021-07-08 03:38] whatSocks opened #89 "Readme Updates?"
Interested in learning more about this project, tried to set up locally, got stuck here:

knowing what version of node is recommended might also help me get unstuck

### Operating system
Mac OS Catalina

### Browser name and version
Firefox

### Expected behavior
Be able to follow the readme and run the frontend of the app successfully

### Actual behavior
I ran on `develop` and got lots of CORs e

[2021-08-03 13:22] auggod opened #91 "Implement design of shared header"
https://community.resonate.is/t/player-website-epic/1523

[2021-08-03 13:23] auggod opened #92 "Implement design of shared footer"
https://community.resonate.is/t/player-website-epic/1523

[2021-08-03 13:44] hakanto opened #93 "Change wording of cookies prompt"

[2021-08-03 13:50] auggod opened #94 "Display newly added releases on discovery page by default instead of featured"

[2021-08-23 14:53] auggod commented on #82
Closing this as it was done weeks ago.

[2021-08-23 14:53] #82 closed, assigned to nobody

[2021-09-07 12:12] auggod commented on #93
@hakanto This is important. There should be a discussion about this on the forums.

[2021-09-08 08:43] auggod commented on #89
I'm not sure I have seen this before. If you get problems after switching branch and running `lerna bootstrap` does not fix your problem. You may remove `node_modules' and run `lerna bootstrap` again.

[2021-09-08 08:43] #89 closed, assigned to nobody

[2021-09-13 09:13] auggod opened #101 "Publish new version of @resonate/tachyons package"
Review changes made to `packages/tachyons` and undo those that we may not need anymore.

[2021-09-21 14:58] #91 closed, assigned to auggod

[2021-09-21 14:58] #92 closed, assigned to auggod

[2021-09-21 14:58] #94 closed, assigned to auggod

[2021-09-24 01:43] hakanto opened #104 "Checkmarks displayed on all playlists while adding/removing track"
### Operating system
Linux: Pop!_OS 21.04

### Browser name and version
Brave: Version 1.16.68 Chromium: 86.0.4240.111 (Official Build) (64-bit)

### Expected behavior
Went to remove a track from one of my playlists. Accessed popup menu on the playlist page. On the popup menu, checkmarks would only show on those playlists which featured the track.

### Actual behavior
Went to remove a track from o

[2021-09-24 01:58] hakanto commented on #104
@auggod @whatSocks I was able to remove tracks from playlists by clicking the checkmark of the correct playlist.

I did some further testing and discovered that I can't add tracks to playlists! Same thing, on the Add To Playlist popup, all playlists are checked and I'm unable to click them to add the tracks.

[2021-09-24 11:34] auggod commented on #104
The API swagger definition had some missing query parameter info. Should have been there when we merged #100. The API is now returning the expected data.

[2021-09-24 11:34] #104 closed, assigned to auggod

[2021-09-30 02:16] whatSocks opened #105 "[embed] ${user.nicename} not showing on playlist embed"
### Operating system
Mac

### Browser name and version
Firefox 92.0.1

### Expected behavior

On a playlist embed, be able to click on something in the embed to go to the playlist detail or creator detail

<img width="444" alt="Screen Shot 2021-09-29 at 10 13 53 PM" src="https://user-images.githubusercontent.com/2731744/135374445-40aacaff-1009-4611-af53-47b0f763f37b.png">

this seems to be the goa

[2021-10-01 10:06] auggod commented on #86
Issue was fixed in production.

[2021-10-01 10:06] #86 closed, assigned to auggod

[2021-10-01 10:07] auggod commented on #87
Closing as I have not been able to reproduce this issue again with newer versions of Chrome.

[2021-10-01 10:07] #87 closed, assigned to nobody

[2021-10-01 10:08] #75 closed, assigned to auggod, angusmcleod

[2021-10-01 10:08] #73 closed, assigned to auggod

[2021-10-01 10:09] #74 closed, assigned to angusmcleod

[2021-10-05 21:58] whatSocks opened #106 "handle multiple artists in release on artist detail"
Long writeup here https://community.resonate.is/t/possible-bug-album-not-loading/1867

https://beta.resonate.is/labels/6151/albums?page=3 see "Tour Split"

It works on the Label page but not the Artist page

[2021-10-05 23:10] hakanto commented on #106
An comment back from @auggod on this issue back in April:

Perhaps at some point we'll have a new type of trackgroup in the Tracks API for these?

[2021-10-05 23:34] whatSocks commented on #106
a workaround might be to put the tracks into another trackgroup that belongs to the artist. Like this one, which happens to be trackgroup type playlist that doesn't belong to the artist.

https://beta.stream.resonate.coop/u/17929   /playlist/test-tour-split

The side effect would be too many releases but seems like what's going on now is worse.

If this is the solution then we can close this issue

[2021-10-12 14:21] whatSocks opened #107 "handle private playlist share"
### Operating system
Mac OS

### Browser name and version
FireFox

### Expected behavior
* Private playlists should not show share UI / should prompt user to make playlist public

### Actual behavior
* User can share a private playlist, but anyone else clicking on the share link will see an error

### Steps to reproduce behavior
* Make private playlsit
* Click share to generate share URL
* Open sh

[2021-10-15 22:20] whatSocks opened #109 "[mobile] [safari]"
### Operating system
iOS

### Browser name and version
Safari

### Expected behavior
x icon in search bar should be similar size as the magnifying glass icon

### Actual behavior
it's like the size of a couple pixels

### Steps to reproduce behavior

on mobile iOS, use the search functionality. Look for the x to dismiss search

<img width="331" alt="Screen Shot 2021-10-15 at 6 19 58 PM" src="https

[2021-10-16 15:38] auggod commented on #109
Depending of iOs version it's even worse. I was able to check on an old ipad but it was not updated for some time. ~~I may be able to debug this tomorrow.~~ (didn't have time)

[2021-10-24 13:59] #109 closed, assigned to nobody

[2021-10-25 17:17] hakanto opened #115 "For non-authed visitors, prompt: "Log in to listen to full song""
We need a simple way to alert non-logged in users that they need to log in to listen to more than 45 second previews. Here's some mockups of what it could look like and how it could function.

Design: If user is not logged in and is listening to a song preview, a bar displays just above the player control area while listening to a 45 second song preview. The bar states "Log in to listen to full so

[2021-10-25 17:49] hakanto opened #116 "For non-authed visitors, "Join now" button on main page near title text"
It is unclear for a non-authed user with no experience on the Player to know how to join. A join button somewhere near the main text on the Discover page will make it much easier for visitors to join and understand their relationship with the site. Having the [Join now] button right next to the word "members" can intutively express that you yourself can become a member and "own and run" the platfo

[2021-10-26 19:17] mcfiredrill commented on #115
Taking a shot at this :fork_and_knife:

[2021-10-26 19:38] hakanto commented on #115
If setting up the two different color options is complicated (for light mode and dark mode), alternatively you could use a grey bar with white text for both light mode and dark mode. The grey bar would be a little less stylish and not stand out as clearly, but still fine as a fallback option.

[2021-10-26 19:51] hakanto opened #117 "On Log in Page, move log in interface vertically and remove empty space"
On the mobile view of the Log in Page, the keyboard covers up the page's Log in Button due to the large amount of empty space at the top of the screen. The user must scroll down to reveal the page's Log In button.

Since the player's main menu has its own Log in Button on the menu bar at the bottom of the screen, this could lead the user to mistake it as what they need to click to confirm their in

[2021-10-26 20:01] hakanto opened #118 "Make Search icon clickable when main menu is open, closing main menu"
On mobile, when Library submenu is open (displaying Favorites Collection Playlists History X), the Search icon is becomes unclickable. The user needs to click the X and close their menu before being able to use Search, but it is unlikely the user will know this is the reason Search is "not working".

On mobile, whenever the user clicks the Search icon, it should automatically close their main menu

[2021-10-26 20:04] hakanto commented on #83
Tried again on Android Chrome PWA for Player 7. Unable to play tracks.

[2021-10-28 13:52] #80 closed, assigned to auggod

[2021-11-02 00:47] whatSocks opened #120 "add metadata for nicer twitter cards"
https://github.com/twitterdev/cards-player-samples/blob/master/player/page.html

example:
<img width="640" alt="Screen Shot 2021-11-01 at 8 46 59 PM" src="https://user-images.githubusercontent.com/2731744/139769143-fec94a1f-4477-464f-8487-4d3d9a6ef9c5.png">

[2021-11-02 19:11] #120 closed, assigned to nobody

[2021-11-03 05:55] gitaaron commented on #118
Please sign me up for this.

[2021-11-03 16:47] gitaaron commented on #118
@hakanto  I found a few other issues while looking closer at the UX here.

1.  If I search for something in wide screen mode (eg/ 'ambient') then click browse I still see the search bar with text 'ambient' leading me to believe I am still searching on 'ambient'.

2.  If I search for something in small screen mode then click 'browse' or 'library' it still shows me the search results in the main con

[2021-11-03 17:19] douellette20 opened #123 "Make player theme selection more intuitive & straightforward"
### Operating system
Linux Mint 20.2 Cinnamon

### Browser name and version
Firefox 94.0

### Expected behavior
"Auto" theme should be one of three equally selectable options, along with "Light" and "Dark", and should be the default.

### Actual behavior
"Auto" theme is a toggle switch, and greys out (but does not deselect) "Light" and "Dark" options when turned on. Switching back to "Light" or "D

[2021-11-04 22:26] webwelten commented on #116
Hey, I'd like to do this as a first ask. Can you assign me to it? :)

[2021-11-04 22:48] hakanto commented on #116
@webwelten Assigned. Much thanks! :)

[2021-11-08 17:32] webwelten commented on #116
Thanks :) I have started looking into the task.

<img width="435" alt="Screenshot 2021-11-08 at 18 16 58" src="https://user-images.githubusercontent.com/3693161/140789827-7324e4ce-3533-4b06-a756-ebae2608972f.png">

Using the css/design system it looks a bit different than in the screenshot.
Is that alright or do we want it to be accurate?

[2021-11-10 10:51] auggod commented on #116
It should not have this inset outline. The link can have the same styling as the LOG IN link on the bottom right.
You can also choose to use a big underline using border style instead.

[2021-11-17 13:42] auggod opened #124 "Player component not loading on Discover page"
The player component should show up as soon as we click play on staff picks playlist track element.
Audio plays fine and player appears once you navigate to another page.

[2021-11-17 14:57] #124 closed, assigned to auggod

[2021-11-23 11:10] webwelten commented on #116
Alright, thanks for the clarification. Prepared it locally and couldn't push my branch to github. Do you need to give me the rights for that?

[2021-12-23 23:07] hakanto opened #125 "Playback stops after one song"
Got this interesting bug report from a user in our inbox.

### Operating system
iOS

### Browser name and version
Safari and Chrome

### Expected behavior
Clicking a song on a page will play that song and then play the following songs on the album in sequence.

### Actual behavior
Clicking play on a song only plays that one song and then playback stops, rather than continuing to play the following

[2021-12-31 21:59] peterklingelhofer commented on #123
Hello, please assign this issue to me, as I've submitted a pull request to address this: https://github.com/resonatecoop/stream/pull/127. Thank you!

[2022-01-01 21:00] whatSocks opened #129 "pretty social unfurl for artist, label, trackgroup"
### Operating system
twitter

### Expected behavior

user should be able to paste a url to an artist, label, or trackgroup to twitter and see a pretty unfurl with an image

### Actual behavior

no image

[2022-01-04 22:56] hakanto commented on #115
@mcfiredrill How's this coming along? Any roadblocks come up?

[2022-01-04 22:59] hakanto commented on #116
@auggod @whatSocks What's the next step?

[2022-01-05 13:49] auggod commented on #116
@webwelten Please fork resonatecoop/stream first then you should be able to pull request.

[2022-01-05 18:38] mcfiredrill commented on #115
@hakanto
![line_20220105_103559](https://user-images.githubusercontent.com/66243/148270643-c432f5d1-7e03-4d17-b126-c434c0498430.png)

Here's what I have so far, I'll throw a PR up with what I have.
I haven't converted it to work with dark mode, but is it possible to change themes when you aren't logged in ?

[2022-01-05 21:56] hakanto commented on #115
@mcfiredrill Good point! Nevermind on the dark mode version.

This is looking great. For the next version, can you make it white text on a black bar rather than black text on a white bar? I think the contrast with the white background will help the message stand out.

[2022-01-06 12:42] #123 closed, assigned to nobody

[2022-01-06 12:47] #117 closed, assigned to nobody

[2022-01-06 12:58] #129 closed, assigned to nobody

[2022-01-06 13:06] auggod commented on #125
One possible solution to this problem is explicitly allow autoplay. I think it can be done from iOS settings.

[2022-01-08 00:13] peterklingelhofer opened #133 "Re-order tracks on playlists"
### Operating system
macOS 11.6.2

### Browser name and version
Firefox 95.02

### Expected behavior
Should be able to drag and drop to re-arrange songs in playlists created by me.

### Actual behavior
Unable to drag and drop to re-arrange songs in playlists created by me.

### Steps to reproduce behavior
Create a new playlist, add a few songs, go to your playlist, attempt to click and drag a song

[2022-01-08 01:15] whatSocks commented on #133
this functionality exists in the (private) uploader repo. If you (or someone) is open to copy+pasting it over maybe @hakanto can bless you with access?

[2022-01-08 01:24] peterklingelhofer commented on #133
That's great news. I'll close this issue out then!

[2022-01-08 01:52] hakanto commented on #133
I'd keep this issue open! Sure it's available on the Dashboard, but the goal is definitely to make this a feature on the Player interface itself.

I'm pretty sure anyone can log in with their listener account at dash.resonate.coop to reorder playlists in the meantime. Try it out!

[2022-01-08 02:23] peterklingelhofer opened #134 "Make removing tracks from playlists more intuitive"
### Operating system
macOS 11.6.2

### Browser name and version
Firefox 95.02

### Expected behavior
Should be obvious to the user how to remove tracks from playlists.

### Actual behavior
It is not obvious to the user how to remove tracks from playlists.

### Steps to reproduce behavior
Create a new playlist, add a few songs, go to your playlist. Click the three dots menu on the right side of a s

[2022-01-08 19:25] peterklingelhofer commented on #133
Ah, now I understand better. Well I'd be happy to tackle this, the functionality/response does look really smooth on the Dashboard site. Since it seems that repo is private, it would be really handy if someone merely sent me a code snippet of the drag and drop functionality going on in that repo so I can emulate that here. Cheers!

[2022-01-11 04:46] jbustillo opened #136 "45 seconds per track"
even after creating a paid account, i can only listen to 45 seconds of any track rather than the full thing – how do I fix this?

[2022-01-11 17:01] #136 closed, assigned to nobody

[2022-01-12 02:06] peterklingelhofer commented on #118
Thank you for @gitaaron for raising these valuable insights. I'm going to address the rest in time so I don't bite off more than I can chew, this issue you raised is sort of independent of the others so I'm going to address that first:

With respect to this point raised by @gitaaron above - I completely agree, on a typical website clicking the website's home button/logo (in our case, in the top le

[2022-01-16 17:50] fgblomqvist commented on #76
Is this something you'd still want help with? I'd be down to give it a shot. The main benefits I can see is one less dependency and more importantly, all the standard npm commands will work which means easier for new/old devs rather than learning/remembering lerna stuff. Or did you have any specific concerns?

[2022-01-17 17:33] fgblomqvist commented on #76
Did some initial experimentation and one thing so far that would be lost is the convenience of the `lerna publish from-package` command. It would have to be replaced with another little script/dep if it's used.

[2022-01-17 19:28] fgblomqvist commented on #76
Here's a branch where I attempted the migration (minus the publish script):
https://github.com/fgblomqvist/stream/tree/migrate-to-workspaces
Down to open a PR and discuss some things there, but can also respect if you decide that it's not worth it :slightly_smiling_face:

[2022-01-18 19:55] hakanto opened #139 "Create new playlist stalls at "Please wait...""
[More info here](https://community.resonate.is/t/interface-bugs-when-purchasing-credits-or-creating-a-playlist/2300/3?u=hakanto)

[2022-01-18 19:59] hakanto opened #140 "Interface problems when purchasing credits"
https://community.resonate.is/t/interface-bugs-when-purchasing-credits-or-creating-a-playlist/2300

However at that stage the “x” button to close the pop up still works fine

- only “card name” and “card number” input fields are working, which means :
- “x” closing pop up button doesn’t work anymore
- expiration date isn’t clickable
- cvc isn’t clickable
- back and next aren’t clickable
- “stripe”

[2022-01-18 20:05] fgblomqvist commented on #140
I can't reproduce this on FF for Android, neither in mobile mode or desktop mode. Works fine there at least.

[2022-01-18 20:18] auggod commented on #140
We're going to retire this interface soon. We're planning to launch new id server no later than February. It will work with Stripe Checkout (https://stripe.com/docs/payments/checkout).

I don't think we should spend too much time into this especially since at first glance I can't reproduce this either on brave or firefox.

If the CVC and expiration date fields are not working, it's probably a prob

[2022-01-18 20:21] auggod commented on #139
The 'create playlist' button is not working anymore because the cover reference is null. I will find a fix asap.

[2022-01-18 20:22] hakanto commented on #140
Update from user on forum:

https://community.resonate.is/t/interface-bugs-when-purchasing-credits-or-creating-a-playlist/2300/7?u=hakanto

[2022-01-18 23:13] fgblomqvist commented on #84
Does this apply anymore? There doesn't seem to be a "featured artist" at the top of that page

[2022-01-18 23:36] fgblomqvist opened #141 "Arrows showing on top of the "Add Credits" button"
### Operating system
Windows 10

### Browser name and version
Firefox 96.0

### Expected behavior
For there not to be "random" arrows on the button

### Actual behavior
![bug](https://user-images.githubusercontent.com/649260/150035615-b91ce74b-d67e-4e15-ac5b-26406bf4ce7d.png)

### Steps to reproduce behavior
1. Login
2. Hover over profile menu icon
3. See the arrows on top of the "Add Credits" but

[2022-01-18 23:55] hakanto opened #142 "Credits menu display issue"
From dev in email:

"I randomly noticed that the black or red "Credits" section of the menu displays a little weird because of a graphical bug in Firefox.

Even though this <input type="number" /> field is disabled, Firefox still wants to show the up/down arrows that they associate with that field type. They appear as ghostly background buttons behind the "Add Credits" button.

I would have submit

[2022-01-19 00:07] peterklingelhofer commented on #141
I've seen this bug on my machine as well. Definitely don't think that's the intended spot for the arrows.

[2022-01-19 00:42] fgblomqvist commented on #141
I suspect the input was perhaps used to make the formatting be automatic, or something like that. But yeah I'd say using just formatted text is probably the better move unless there's something else with the input that's desired.

[2022-01-19 01:45] peterklingelhofer commented on #141
Appears to be a duplicate issue here: #142.

[2022-01-19 01:46] peterklingelhofer commented on #142
Appears to be a duplicate issue here: #141.

[2022-01-19 16:52] #141 closed, assigned to nobody

[2022-01-19 16:54] auggod commented on #142
Can fix using this css in components/header/index.css

[code]

Should be part of next update.

[2022-01-19 16:54] #142 closed, assigned to nobody

[2022-01-19 16:58] fgblomqvist commented on #142
@auggod Out of curiosity, is there a specific reason a number input is used rather than just plain text?

[2022-01-19 17:17] fgblomqvist opened #143 "Artist and label pictures not loading"
### Operating system
macOS

### Browser name and version
Firefox 95

### Expected behavior
For pictures to load or perhaps a decent placeholder?

### Actual behavior
It tries to load pictures but fails.

![Screen Shot 2022-01-19 at 6 15 20 PM](https://user-images.githubusercontent.com/649260/150181156-8cdd8b50-77b7-47e7-b0fa-22ce732300bc.png)

### Steps to reproduce behavior
Visit e.g. https://str

[2022-01-19 17:21] auggod commented on #142
@fgblomqvist Just made sense to me semantically.

[2022-01-19 17:34] fgblomqvist commented on #142
Alright. I'd say it might be more conventional/semantically correct to not use an input since the user can't actually input anything, and the task is just to display a value. That way you'd avoid any weird issues like this and you'd also avoid confusing screen readers (if accessibility is on the agenda). Either way, not trying to step on your toes, so potatoes potatos I suppose 🙃

[2022-01-20 01:46] peterklingelhofer commented on #143
This seems like it could potentially be related to the cover art is null issue? #139

[2022-01-20 10:19] fgblomqvist commented on #143
Hmm yeah could be. Though it [sounded like it had been fixed already](https://community.resonate.is/t/interface-bugs-when-purchasing-credits-or-creating-a-playlist/2300/9) 🤔. Though, since the issue is still open maybe not.

[2022-01-20 13:38] peterklingelhofer commented on #118
@fgblomqvist, I've been digging into this one a bit. Do you have any ideas? The issue seems to stem from `.emit('search:toggle')` and `.emit('library:toggle')` (just search the codebase for those, there aren't too many usages) behaving slightly mutually exclusively where they shouldn't be. The strange thing though is that if the user clicks any of the options while Library is open (e.g Playlists)

[2022-01-20 14:27] IamUpInTheCloud opened #144 "Adding a track to "Favorites" doesn't display it in the Favorite tab of the user's Library section"
### Operating system
Windows 11/10

### Browser name and version
Chrome / Firefox / Opera

### Expected behavior
Adding a favorite track makes the track appear in the "favorite" tab of the user's "Library" section.

### Actual behavior
Adding a favorite track displays "track has been added to favorites" (and you can even "unfavorite" the track) correctly but nothing appears in the "favorite" tab o

[2022-01-20 14:45] peterklingelhofer opened #145 "Starting with v2.0.0-beta.1 date-fns doesn't accept strings as date arguments"
### Operating system
macOS Big Sur 11.6.2

### Browser name and version
Google Chrome 97.0.4692.71 *Official Build) (x86_64)

### Expected behavior
No errors server side when viewing a release.

### Actual behavior

[code]

### Steps to reproduce behavior
Log in and navigate to any [release](http://localhost:8080/artist/18562/release/field-recordings-volume-two), and check your `npm run dev` logs.

[2022-01-20 15:32] #139 closed, assigned to nobody

[2022-01-20 15:34] auggod commented on #143
I fixed it as soon as I realised. Data volume attached to server got unmounted.

[2022-01-20 15:34] #143 closed, assigned to nobody

[2022-01-20 16:26] fgblomqvist commented on #144
I can reproduce. However, this worked fine a few days ago, so perhaps a regression somewhere?

[2022-01-20 16:30] #145 closed, assigned to nobody

[2022-01-20 16:38] fgblomqvist commented on #118
I'll take a look at a little later today, sounds like an interesting bug 🤔

It indeed looks pretty grim regarding choojs. Sounds like they sorta lost traction (https://github.com/choojs/choo/issues/686). I've never heard of it before this project so perhaps not too surprised. Probably worth having a discussion regarding it in the near-term.

[2022-01-20 20:35] fgblomqvist commented on #118
I see an error in console when clicking the close button (the X in the search header, getting `this.element is undefined`), but that is most likely unrelated.

I did some debugging regarding the `search:toggle` event and everything fires as expected. The render logic is quite complex imo, and I've never worked with choojs before, but what I see is this:
1. It tries to replace the element in the he

[2022-01-21 00:41] fgblomqvist commented on #118
Hah I figured it out!
The problem is here:
https://github.com/resonatecoop/stream/blob/development/beta/components/header/index.js#L279-L290

When a submenu is rendered the search isn't rendered. Only when no submenu is rendered is the search rendered. Easy to fix.

I will submit a PR tomorrow. There are some styles in this code that makes it a lot harder to read than it has to be (the way diction

[2022-01-21 17:25] fgblomqvist opened #148 "Purpose of master and develop branches?"
First time I checked out this project I ended up on master. Then I switched to develop, and then I realized there was also a development branch. The latter is clearly the main one from what I can see. Should the other ones perhaps be removed (for now?)? At the very least, I'm guessing the `develop` branch should go away (should `development` perhaps be renamed to `develop`?).

If the `master` bran

[2022-01-21 18:34] fgblomqvist commented on #76
any thoughts on this @auggod?

[2022-01-21 18:55] fgblomqvist opened #150 "Poor UX regarding knowing what page you are on"
### Operating system
Linux

### Browser name and version
FF 96

### Expected behavior
There should be some sort of stylish indication in the menu of what page I am on, even if it's rather subtle.

### Actual behavior
Currrently, if I go to e.g. "Browse" it is clear which section of Browse I am looking at because there is a dot before the name:
![Screenshot from 2022-01-21 19-51-11](https://user-im

[2022-01-22 15:54] gblomqvist opened #151 "Can't login after creating account without performing a password reset"
### Operating system
Linux

### Browser name and version
Firefox 88.0.1

### Expected behavior
After account creation it should be possible to login without first having to perform a password reset.

### Actual behavior
After account creation I couldn't login, despite waiting for days. I performed a password reset using **the same password I had initially used**, and then I could login.

### Steps

[2022-01-23 01:21] peterklingelhofer commented on #148
I agree, this clarification would be good to have in the readme, and I'm curious about it myself.

However, I was unable to reproduce how you managed to end up on the `master` branch. When I first cloned this repo, I ended up on `development`. Very strange and curious as to why this happened to you and not me.

I just tried to clone down this repo again, (both resonate's and my own fork, same resu

[2022-01-23 01:59] peterklingelhofer commented on #93
Perhaps this is a related but technically different issue, but per [this user's first listening experience](https://community.resonate.is/t/first-time-listening-experience/2204) could we perhaps combine the language in these two prompts into one prompt? I'm not sure if the two separate prompts were to satisfy distinct legal requirements, but if they're not or if it's possible, it would probably be

[2022-01-23 14:40] IamUpInTheCloud commented on #144
Just an update to mention that I'm now at a point (I've started with newer tracks and I'm moving further back in the whole catalogue) where some songs do seem to appear in favorites, but others still don't. and I think I've noticed a pattern which is that recent tracks can't be added to favorites when older ones do. Worth investigating.

[2022-01-23 15:15] fgblomqvist commented on #151
I think I experienced the same issue when I signed up a week or two ago, had to perform a reset to be able to login. Otherwise I got a message like "if you recently signed up, please wait a minute".

[2022-01-23 15:58] peterklingelhofer commented on #144
This could also perhaps be related to #139 and #143? It seemed that @auggod said [here](https://community.resonate.is/t/interface-bugs-when-purchasing-credits-or-creating-a-playlist/2300/9) that it was an issue with cover art being null for newer tracks (and seemingly, not null for tracks uploaded not as recently). I know @auggod resolved the original issue but just wanted to point out that this a

[2022-01-23 16:55] fgblomqvist commented on #148
Doing it regularly through command-line I do indeed end up at `development`. I dug into how I ended up on `master` and it turns out that it was due to my git UI. I use [SmartGit](https://www.syntevo.com/smartgit/) (can strongly recommend, free for non-commercial work) and when cloning a repo through it, it defaults to checking out the `master` branch if there is one (seemingly). If there wasn't on

[2022-01-23 17:01] fgblomqvist opened #153 "Playcounts are not fetched for all tracks on the label page"
### Operating system
N/A

### Browser name and version
Firefox 96

### Expected behavior
The playcount should be accurate wherever it is displayed.

### Actual behavior
https://community.resonate.is/t/help-bug-verification-listen-count-not-reflected-on-label-page/2328

In short, on the label page, the front-end doesn't fetch the playcount for all tracks, but seemingly only the first x tracks. Howe

[2022-01-23 17:02] fgblomqvist commented on #153
If this issue is due to missing data or something like that, then the bug is instead that this data is missing (are there submission fields that need to be marked as required? And so forth).

[2022-01-23 17:22] fgblomqvist opened #154 "Dual consent dialog is poor UX"
### Operating system
N/A

### Browser name and version
N/A

### Expected & Actual behavior
Should be quick and easy to get started using the site, however, we currently have 2 different (and differently themed) consent dialogs that both appear at the same time. It's kind of confusing and not very user-friendly:
![Screenshot from 2022-01-23 18-19-39](https://user-images.githubusercontent.com/649260

[2022-01-23 17:23] fgblomqvist opened #155 "Unable to stay logged in during local development"
### Operating system
Linux

### Browser name and version
Firefox 96

### Expected behavior
I should be able to stay logged-in between page refreshes.

### Actual behavior
Anytime I refresh the page I am logged out again.

### Steps to reproduce behavior
1. Start up dev server
2. Login
3. Refresh the page (e.g. F5)
4. You're now logged out again

Not sure if this is only happening to me or not, or

[2022-01-23 17:23] fgblomqvist commented on #155
Have you guys experienced this @peterklingelhofer @auggod?

[2022-01-23 17:35] peterklingelhofer commented on #155
Yes, this has always been the case on my setup. I've been guessing it's possibly because I don't have `nginx` set up for this project yet, figured it could be a cookies can only be set over HTTPS/SSL rule.

[2022-01-23 17:35] fgblomqvist commented on #153
Looked into this some more and this is what's happening:
* It fetches all the "releases" for the label, which is only the first 4 albums (what's listed under the "Discography" title on the label page).
* It then fetches all the playcounts for the discography albums.
* Then it fetches the "remaining" albums (what's listed under "Various Artists" on the label page), however, it does not fetch the pl

[2022-01-23 17:42] fgblomqvist commented on #155
Hmm okay. Would be nice if it could be fixed/modified for local dev to avoid extra setup steps, but I imagine it can be hard if you're interacting with the prod API :thinking:

[2022-01-24 15:49] #118 closed, assigned to gitaaron

[2022-01-24 15:52] #134 closed, assigned to nobody

[2022-01-24 15:52] #115 closed, assigned to mcfiredrill

[2022-01-24 15:53] #107 closed, assigned to nobody

[2022-01-25 23:06] fgblomqvist commented on #153
I'll take a stab at this

[2022-01-26 15:03] auggod commented on #153
Good catch! The `getLabelAlbums2` function is missing the part where we're fetching play counts
`getLabelAlbums` and `getLabelAlbums2` should be refactored into one single function. The first one fetches the releases as trackgroups.
The second function is only for fetching various artists albums. Various artists albums were not migrated to `track_groups`.

Also, the title should not be clickable a

[2022-01-26 15:25] auggod commented on #154
Found out that we can use offen api instead.

[code]

[code]

See: https://docs.offen.dev/running-offen/embedding-the-script/

Offen is a very interesting project but it's really experimental.

[2022-01-26 15:51] fgblomqvist commented on #153
Thanks for confirming @auggod.
Will see if I can get a PR up today.

Is there a page/discussion where I can get some info on this "Various Artists" stuff/differences between albums and "releases" etc?

[2022-01-26 16:51] auggod commented on #148
Both master and develop were stale for a long time. I have removed them. Develop was useful at a time when we were running two versions of the player at the same time.

[2022-01-26 16:57] fgblomqvist commented on #148
Makes sense, good cleanup. Should `development` perhaps also be renamed to `develop` to match the other resonate repos and general got conventions?

[2022-01-27 13:48] auggod commented on #148
I thought we would do the opposite, renaming all other repos develop branches to development instead. Anyway, not critical right now.

[2022-01-28 18:11] jackhajb opened #157 "Credit and credit received numbers do not look right"
### Description
Update your account, credit costs do not look correct

### Steps to reproduce

1.  Navigate to `https://id.resonate.ninja/`
2.  Click `Player`
3.  Input login information
4. Click profile dropdown in the top right of the header
5.  Click `Update your account`
6. The credit amount for 7€ is 50, which is the same as the credit amount listed for 50€

### Expected Results vs Actual Res

[2022-01-28 18:12] jackhajb opened #158 "After logging in to player the login button does not change to a profile"
### Description
Unable to access the user dropdown after logging in to the player on the dev environment.

### Steps to reproduce

1.  Navigate to `https://id.resonate.ninja/`
2.  Click `Player`
3.  Input login information
4. You will be brought to the continue to login page
5.  Click `Finish login`
6. You will be brought to the streaming player
7. The button in the header on the top right will st

[2022-01-28 18:13] jackhajb commented on #158
https://user-images.githubusercontent.com/47801503/151599684-1863c4c4-3dc0-440f-bdbb-cde5dcb88c66.mov

[2022-01-29 16:56] fgblomqvist commented on #153
I am working on this but getting a PR out "just like that" was clearly a bit overambitious :sweat_smile:.
It's always a bit complicated to reliably refactor code like this when there are no types but I am slowly making progress at least. Sooner or later.

[2022-01-30 01:28] auggod commented on #157
I think we should you move the issues related to the id server to `resonatecoop/id/issues`.

[2022-01-30 01:28] auggod commented on #157
It's not a bug, it's just no implemented yet. Working on it.

[2022-01-30 01:35] auggod commented on #158
I was not able reproduce this on brave or chrome. Can you confirm it still happen?

[2022-01-31 13:41] auggod commented on #153
@fgblomqvist I should be able to help, you can still draft a pull request.

[2022-01-31 13:43] whatSocks commented on #153
(written here for posterity / testing purposes - NOT to suggest fixing this all at once)
There's a related issue with tracks with artists that only appear on `various` albums

example:
artist: https://stream.resonate.coop/artist/4231
track: https://stream.resonate.coop/track/6990 -> can click view artist to get to 4231's page
album: Heritage Riddim here https://stream.resonate.coop/label/4088 -> c

[2022-01-31 13:51] fgblomqvist commented on #153
@auggod Thanks, wrapping up the last bit tonight so should be able to get a PR up then, along with some commentary on the changes/what's potentially left.

@whatSocks the `undefined` issue will be "fixed" in my PR according to what @auggod proposed. As in, it should simply not be possible to click the album title.

[2022-02-01 01:15] peterklingelhofer commented on #116
@webwelten, if you are still having difficulty creating the pull request on this repository you could post your diff (`git diff` in your console) and one of us would be happy to put it together into a merge request on your behalf.

[2022-02-02 02:55] peterklingelhofer commented on #158
@auggod, I created an account on `https://id.resonate.ninja/` today and this happened to me, after logging in it still just shows Login at the top right, no option to access Profile, etc (in Chrome). This does not happen for me when testing on `localhost:8080`, however.

[2022-02-02 17:28] #153 closed, assigned to nobody

[2022-02-02 21:37] auggod commented on #151
I am able to reproduce this issue no matter the password length. After disconnecting once I have been auto logged, I am not able to connect again either to the main website resonate.is or the player.
It seems the occurence of the problem is fairly recent. I don't think it's possible it was there for more than a month.
It's clear the issue is with wordpress.

[2022-02-02 23:17] auggod commented on #158
Login works but the legacy_id was no incremented anymore in the db. This is important for compat with older tables. I need to find out why.

[2022-02-02 23:50] auggod commented on #158
Looks like updating bun (db orm) above 1.x fixes the issue.

https://github.com/resonatecoop/user-api/pull/17

[2022-02-03 05:03] vectorjohn commented on #151
I have a similar problem but it doesn't go away when I reset my password. It's only the player that I can't log in to, I can get in my account just fine. But the player says "If you just signed up or changed your password, please try again in a few seconds…"
I waited many thousands of seconds, and still no luck. I just reset again after reading this bug in case the issue was intermittent, but no l

[2022-02-03 10:16] auggod commented on #151
Did you use your email or username to login on the website? On the player, it will ask only for your email, make sure this is the one you have registered with (including +)

[2022-02-03 14:08] auggod commented on #151
We found out it was a configuration issue on the website. The system was configured to allow password less signups (to set password later).

[2022-02-03 15:36] #150 closed, assigned to nobody

[2022-02-03 17:38] vectorjohn commented on #151
OK, that didn't solve my problem because like I said, I can't log in even after changing my password, I only get the "If you just signed up or changed your password, please try again in a few seconds…" forever (even after waiting overnight). I am using the same email which works to log into my account but not the player (you get a different error message if you try to use a username).

Should this

[2022-02-03 17:42] fgblomqvist commented on #151
Yes please create a separate issue so that we can close this one. But thanks for reporting 🙂.

[2022-02-03 18:15] vectorjohn opened #161 "Cannot log into player using passwords with certain characters"
### Operating system
Linux

### Browser name and version
Firefox 96, Chrome

### Expected behavior
I can log into the player with the same email+password as my account following whatever password rules account creation enforces.

### Actual behavior
I can log into my account but not the player when I use certain (unknown) characters in my password. On the player, I get the error message "If you ju

[2022-02-03 18:19] vectorjohn commented on #151
https://github.com/resonatecoop/stream/issues/161 created. And I discovered the cause, the player's login system fails with certain passwords that the account does not, so I was in a state where logging into account works but player fails, and the error message on the player is generic (same as if anyone types the wrong password).

[2022-02-03 19:38] fgblomqvist commented on #161
Sounds like this: https://community.resonate.is/t/login-issue-on-website-since-ive-created-an-account/2066/5?u=fgblomqvist
Not sure if issues like this is a priority since the new back-end should be out in the "near" future I'm guessing, and probably won't have this issue? @auggod

[2022-02-03 19:50] vectorjohn commented on #161
Yes, that looks like it. Sorry I didn't find that issue. Although, one commenter seems to indicate a shorter password helped. I can confirm that was not my problem, my password is 32 characters alphanumeric, and it works (and someone in a linked issue here used 64 characters). The issue was the various kinds of quotes I had in it.

[2022-02-03 20:40] gblomqvist commented on #151
Sounds like this issue has been solved, great!

[2022-02-03 20:40] #151 closed, assigned to nobody

[2022-02-03 22:05] fgblomqvist commented on #161
All good. I'm sure it's just the special chars (like you've said) that is the issue.

[2022-02-04 16:10] auggod commented on #158
I have update bun orm (both on id server and user-api)
I found out the key legacy_id on the users table for the dev server db didn't have the default value set to `nextval('users_legacy_id_seq'::regclass)`
It's weird because I'm sure it used to work before. We should do a db reset.

[2022-02-04 16:11] auggod commented on #158
@peterklingelhofer @jackhajb You can try again to create an account.

[2022-02-05 00:26] peterklingelhofer commented on #158
@auggod, just tried to make two accounts on there, one in Firefox and one in Chrome. It's been about ten minutes and I haven't received a confirmation email for either.

When I try to do `Reset Password` from this stage (just to see if I could nudge things along) I'm seeing `ERROR: invalid input syntax for type timestamp with time zone: "null" (SQLSTATE 22007)` in the UI along with a 500 error res

[2022-02-05 14:06] auggod commented on #158
The issue is that it cannot send emails in dev mode unless it's registered with mailgun. I can add yours to the email list. You can message me on telegram. I realize you cannot get in unless the email is verified.

[2022-02-05 14:16] auggod commented on #158
Looks like we reached the limit for authorized recipients in sandbox mode. I have manually confirmed your email address anyway.

[2022-02-05 14:56] auggod commented on #158
I have released a fix for this issue. Looks like a regression caused by bun (db orm) update to 1.x

[2022-02-05 16:28] peterklingelhofer commented on #158
@auggod, very nice. I'm logged in now! It appears this issue can now be closed.

A few things I ran into (perhaps I should create a new issue for these errors though or post them on the forum):
It says "Logging in as" and nothing follows, should it have the username there maybe?
<img width="408" alt="Screen Shot 2022-02-05 at 10 23 22 AM" src="https://user-images.githubusercontent.com/60944077/152

[2022-02-05 16:39] auggod commented on #158
We should fallback to email until the user adds a display name

[2022-02-05 16:39] auggod commented on #158
The issue on the overtures release page can be ignored.

[2022-02-06 21:14] hakanto commented on #161
May not be related, but this week @auggod discovered a bug in the initial account setup and fixed it. In general, login functionality should be much improved. Although I believe certain special characters, in particular ' " are still not allowed.

Appreciate both of y'alls attention on this! :pray:

[2022-02-06 21:19] hakanto commented on #133
@auggod @jackhajb Could one of y'all pass this code snippet along to @peterklingelhofer or grant access to the uploader repo?

Adding this functionality to the Player would be a big quality of life improvement and power-up our active listeners to bring on more users. And it seems like a pretty easy change! :sun_behind_large_cloud:

[2022-02-09 18:40] #76 closed, assigned to auggod

[2022-02-11 12:10] auggod commented on #133
@peterklingelhofer
I have granted you access to the uploader repo. The SortableList component is located here: https://github.com/resonatecoop/uploader/blob/develop/app/components/sortable-list/index.js

It uses SortableJS (https://sortablejs.github.io/Sortable/)

To update the tracks order within the playlist, you'll use the [PUT] /{id}/items request from API v2 service.
See: https://api.resonate

[2022-02-11 21:29] hakanto commented on #133
I'm super super super excited about this

[2022-02-13 18:32] jackhajb opened #166 "Update all links to resonate.is and resonate.coop to use the SITE_DOMAIN env variable"
Tasks
1. Update all links that reference `resonate.is` and `resonate.coop` to use the `SITE_DOMAIN` env variable.
2. Create a fallback for the `SITE_DOMAIN` variable that will use `resonate.coop`
3. Double check all updated routes for the links using the `SITE_DOMAIN` work properly on the new site.  The new site can be tested at `resonate.space`.  e.g. https://resonate.coop/the-coop is broken if y

[2022-02-13 19:27] #158 closed, assigned to auggod

[2022-02-13 19:39] whatSocks commented on #166
some items seem to only exist on resonate.is

/stream/beta/assets/manifest.json
for example: https://static.resonate.coop/pwa_assets/icon-128x128.png

images from the albums:
https://upload.resonate.is/images/046cb430-1680-4dc4-a5c2-7378eb250ae2-x120.jpg
does not exist at
https://upload.resonate.coop/images/046cb430-1680-4dc4-a5c2-7378eb250ae2-x120.jpg

https://resonate.coop/join redirects to http

[2022-02-14 21:47] hakanto commented on #84
@fgblomqvist Thanks for highlighting this. No, doesn't apply anymore. Closing issue.

[2022-02-14 21:47] #84 closed, assigned to nobody

[2022-02-17 08:26] AbraGanz commented on #161
I used a simple alphanumeric password to set up my account with no special symbols, but also have this problem. Whenever I try to login nothing happens, and I am simply redirected to the player page without having been logged in.

[2022-02-17 17:28] vectorjohn commented on #161
That sounds like a different problem from me and the one I split this from. This ticket is explicitly about the non-alphanumeric passwords. I'm no authority but it seems like you should create a new ticket.

[2022-02-17 19:15] fgblomqvist commented on #161
It sounds like @AbraGanz's issue is similar to the original one perhaps: https://github.com/resonatecoop/stream/issues/151

[2022-02-17 20:12] auggod commented on #161
We're using this golang library to verify hashes from wordpress. I always have suspected this is the issue.
https://github.com/apokalyptik/phpass

[2022-02-17 23:56] hakanto commented on #144
Got a report in the main inbox of the same issue.

[2022-02-18 01:32] mcfiredrill commented on #166
I found the APP_HOST env var in this repo, which seems to be doing the same thing. Could we use that ?
https://github.com/resonatecoop/stream/blob/f314a36a50a261517e668772214b782e73d170b5/beta/.env.example#L3

[2022-02-19 13:51] peterklingelhofer opened #168 "[iOS only] "Learn" dropdown non-functional in mobile browser"
### Operating system
iOS

### Browser name and version
Firefox Daylight 97.0 (7635) and [stream-app](https://github.com/peterklingelhofer/stream-app), which uses Safari natively

### Expected behavior
Pressing the `Learn` dropdown at the top should display the dropdown visible when viewed in the desktop browser. This seems to be behaving as intended with the Google Chrome device toolbar emulating

[2022-02-19 13:53] peterklingelhofer commented on #144
Was this fixed recently? This seems to be working as intended for me after yesterday evening. Anyone else?

[2022-02-19 13:57] auggod commented on #144
Yes, I have released an update yesterday which fix the issue. In fact the player is currently in sync with latest changes on #development

[2022-02-19 13:57] #144 closed, assigned to nobody

[2022-02-20 06:42] gsonnenf commented on #168
I am using an android Pixel 3a XL on Chrome and the listen menu bar worked as expected.

[2022-02-20 15:42] peterklingelhofer commented on #168
Thank you for reporting on this. Seems exclusive to iOS then. This is the case for me in both Firefox Daylight (Mobile) and using the [stream-app](https://github.com/peterklingelhofer/stream-app).

[2022-02-20 17:58] jackhajb opened #171 "Mobile App - react-native-webview"
**React Native WebView - mobile application**
@peterklingelhofer has created a [repo](https://github.com/peterklingelhofer/stream-app) to test a `react-native-webview` implementation of the streaming player.  You can run and test locally via `git clone`ing the repo and running expo on your machine.

This ticket is created to track the progress on testing of the potential mobile app implementation.

[2022-02-20 18:42] jackhajb opened #172 "QA Wordpress Transition"

[2022-02-21 09:38] gsonnenf opened #173 "UX expectation for playlist features are not intuitive"
### Operating system
Windows 10

### Browser name and version
google Chrome

### Expected behavior
Adding to a playlist is intuitive.

### Actual behavior
Adding to a playlist is not intuitive.

### Steps to reproduce behavior
This is UI/User Experience feedback from based on my experience with the player.

Experience 1:
Locating "add to playlist feature" was not intuitive. When selecting a song,

[2022-02-21 16:42] auggod commented on #168
I'm quite sure it's related to the offen (offen.dev). It loads up an iframe and sometimes the element remains invisible while on top which cause the inability to click on the learn menu and more. I was able to replicate this locally.

[2022-02-22 03:30] peterklingelhofer commented on #171
Thanks for setting this up @jackhajb!

~With respect to this third point, I just did some testing changing the uri to this new URL. I wasn't able to get past this `Finish Login` screen after making a new account.~

~When I click `Finish Login`, nothing happens. I can however click `Library` at the bottom and get to it that way. Maybe the reason `Finish Login` doesn't work is the same reason the `L

[2022-02-22 05:06] peterklingelhofer commented on #171
Android Open Testing is available here if you'd like to update the link in the original issue: https://play.google.com/store/apps/details?id=com.resonate.streamapp

[2022-02-22 14:33] jackhajb commented on #171
@peterklingelhofer I was able to get it working locally, let me test again.

[2022-02-22 14:49] jackhajb commented on #166
@whatSocks @mcfiredrill  Sorry for the confusion here, the goal is to update the site links.
The APP_HOST variable is for the streaming player which is different from the website.

Let me know if that adds clarity

[2022-02-23 01:33] mcfiredrill commented on #166
The APP_HOST variable is for the streaming player which is different from the website.

@jackhajb
Ah right, for the [new website](https://github.com/resonatecoop/website) correct?
https://github.com/resonatecoop/website

[2022-02-23 23:56] peterklingelhofer commented on #171
@jackhajb, I didn't realize until yesterday's chat that cookies were required for logging in. You can ignore that [post](https://github.com/resonatecoop/stream/issues/171#issuecomment-1047391921) earlier. Also, per [this post](https://community.resonate.is/t/minimal-mobile-stream-app/2613/32), that will be the Android public testing link once Google approves us, so I think it's fine to leave it up

[2022-02-24 04:00] peterklingelhofer opened #178 "Users should be aware cookies are necessary to login"
### Operating system
macOS 11.6.2

### Browser name and version
Firefox 97.0.1

### Expected behavior
Users should be aware cookies are necessary to login, and be able to access those settings to change their `Cookie Consent` preferences when logged out.

### Actual behavior
Users do not know that they will not be able to login without cookies.

### Steps to reproduce behavior
Go to https://stream

[2022-02-24 23:31] peterklingelhofer opened #181 "Theme should default to Auto"
### Operating system
iOS 11.6.2

### Browser name and version
97.0.1 (64-bit)

### Expected behavior
When a user first visits the player, if they're using a device in dark mode (color preferences set to dark), the player should be in Dark mode.

### Actual behavior
When a user first visits the player, if they're using a device in dark mode (color preferences set to dark), the player defaults to Li

[2022-02-26 13:40] #181 closed, assigned to peterklingelhofer

[2022-02-26 13:42] #178 closed, assigned to nobody

[2022-02-27 15:36] peterklingelhofer opened #185 "Cookie denial when logged out yields error"
### Operating system
macOS 11.6.2

### Browser name and version
Firefox 97.0.1 (64-bit)

### Expected behavior
In an Incognito/Private window, go to https://stream.resonate.ninja, deny cookies, the user should see no errors.

### Actual behavior
In an Incognito/Private window, go to https://stream.resonate.ninja, deny cookies, the user is redirected to this screen:
![2022-02-27 09 34 15](https://u

[2022-02-28 03:05] peterklingelhofer opened #187 "[mobile/iOS only] Tiny back arrow & ellipse icons"
### Operating system
iOS

### Browser name and version
* Firefox
* Safari
* Expo app on iOS

### Expected behavior
Regular icon size for back arrows and track options on mobile.

### Actual behavior
Miniscule icons.

### Steps to reproduce behavior
Moving this issue from [here](https://github.com/peterklingelhofer/stream-app/issues/14) as it has to be addressed in this repo.

Not sure how to handl

[2022-02-28 12:34] #185 closed, assigned to peterklingelhofer

[2022-03-01 01:40] peterklingelhofer opened #189 "Some playlists fail to display correct album art for certain tracks"
### Operating system
macOS 11.6.2

### Browser name and version
Firefox 97.0.1

### Expected behavior
Some playlists should show proper album art for each track.

### Actual behavior
Some playlists do not show proper album art for each track and merely duplicate one of the earlier track's album art.

### Steps to reproduce behavior
[View the Resonate March 27, 2022 Camp Radio Playlist](https://str

[2022-03-03 02:55] peterklingelhofer opened #192 "[mobile only] Currently playing artist/track names too heavily truncated"
### Operating system
Android

### Browser name and version
Unknown

### Expected behavior
Now Playing should show more than a few characters for Track and Artist Names.

### Actual behavior
Now Playing only shows a few characters for Track and Artist Names.

### Steps to reproduce behavior
Play a track on mobile.

![short-now-playingmetadata](https://user-images.githubusercontent.com/60944077/1564

[2022-03-03 02:59] peterklingelhofer opened #193 "Confusing login UX with double Log In buttons"
### Operating system
Android

### Browser name and version
Unknown

### Expected behavior
On the login screen, the second log in button in the lower right hand corner should be hidden to avoid confusion.

### Actual behavior
On the login screen, the second log in button in the lower right hand corner is displayed.

### Steps to reproduce behavior
Press Log In on mobile.

![doubleloginbutton](https

[2022-03-04 13:19] iMartyn commented on #161
One of the main issues here is the poor UX if you have rejected cookies.  I also struggled for days with this flow (and I'm a devops-type person, not an average joe).  The flow goes something like this :

- Create account
- Attempt to log in, find you have to log in again, log in again
- "To listen to the full track you must log in", okay, I'll log in a third time... accepts password fine, "To lis

[2022-03-04 14:54] raphraph opened #197 "Impossible to add multiple tags to a playlist"
### Operating system
Ubuntu 21.10

### Browser name and version
Firefox 98.0b9

### Expected behavior
It should be possible to add multiple tags to a playlist.

### Actual behavior
When editing a playlist the "Tags" part of the form says to add "Comma-separated tags.".
When trying to add tags in the following format : `techno,electro` the form returns the following error : "Please add fewer than 1

[2022-03-05 04:07] peterklingelhofer commented on #193
Tried to figure out how to hide the login button for users already on login page.
https://github.com/resonatecoop/stream/blob/97948c7a2d5fdcfca4a549735992e3d2eaf6db80/beta/src/components/header/index.ts#L222 might be the spot to do it, `location.pathname !== '/login'`, but `window` and `location` are `undefined` in that area it seems.

[2022-03-05 15:08] peterklingelhofer commented on #187
[This rendering issue](https://stackoverflow.com/questions/59690443/svg-rendering-smaller-in-mobile-safari) could be the culprit, adding `padding:0` could be the solution.

[2022-03-05 16:10] peterklingelhofer commented on #133
Ran into [this error](https://stackoverflow.com/questions/60720739/how-may-i-convert-a-javascript-object-string-to-htmlelement), and implemented the solution, but `window` is `undefined`. Tried installing [window](https://npm.io/package/window) and [jsdom](https://www.npmjs.com/package/jsdom) but received wild errors from SortableJS thinking they weren't legit HTML elements. Posting my diff below

[2022-03-06 02:06] peterklingelhofer opened #201 "Provide versioning with update notifications"
### Operating system
macOS 11.6.2

### Browser name and version
Firefox 97.0.2

### Expected behavior
Users should be aware of the current version of the player, as well as be made aware of release notes for each new release.

### Actual behavior
Users are unaware of player version and when updates are occurring, and what changes are made with each new update.

### Steps to reproduce behavior
Visi

[2022-03-06 14:00] auggod commented on #201
We did have a word mark with `beta` in the past but we decided to removed it. Adding it back may be counter productive.

Instead, I think we should provide proper versioning with update notifications and changelogs (in a dialog/modal) or separate page.

The script responsible for prompting for refresh is `https://github.com/resonatecoop/stream/blob/development/beta/src/stores/update.js`

The versi

[2022-03-06 23:52] auggod commented on #193
@peterklingelhofer You can use `state.href`. Also works on node.

[code]

[2022-03-07 02:21] peterklingelhofer commented on #201
Thank you for this context @auggod, I will amend this issue's description and title accordingly to make this about displaying the current version number.

Do you have a link to those assets that included the beta text? I would like to maybe/potentially add that logo to the splash screen to the [stream-app](https://github.com/peterklingelhofer/stream-app) (since the app is definitely still in beta)

[2022-03-07 15:44] #193 closed, assigned to peterklingelhofer

[2022-03-07 16:05] auggod commented on #201
I'm really not in favour of using the word 'beta' unless we want to provide different release channels (beta, stable etc...)
We used the subdomain beta (beta.resonate.is) for a while and I feel like we really don't want this anymore.

[2022-03-07 22:51] MLK97 commented on #166
Hello,
trying to help with this.
I am currently looking at the `components/footer/index.js`-file.
Am I understanding it correctly that for instance in this file you want to edit the link to the `About` Section from
[code]
to something like
[code]

[2022-03-07 23:19] peterklingelhofer commented on #201
Totally understood, and I agree, we don't want to give the impression that the player isn't fully functional (it is). Thank you for your feedback @auggod!

[2022-03-08 11:04] raphraph opened #203 "[enhancement] Clarify credits balance display"
### Operating system
Ubuntu 21.10

### Browser name and version
Firefox 98.0b9

### Expected behavior
Always show credit with three digits after separator.
For example display `0.020` and not `0.02`

![example_credits_balance](https://user-images.githubusercontent.com/3306130/157226019-59b56663-c637-4844-a861-25a26c9ac2da.png)

### Actual behavior
When last digit is `0` it is not shown, so reading

[2022-03-08 12:57] auggod commented on #203
I think this is localization related. It was really a bad idea to use an input type number to display the credits amount.

[2022-03-08 19:42] #203 closed, assigned to nobody

[2022-03-10 03:46] peterklingelhofer commented on #187
#200 solved back arrows for viewing albums/tracks and each track's ellipse menu icon.

Re-opening this, as this is still an issue for the back arrow size on the following pages: tags, artists, labels, releases, login. Should be a similar solution as #200, I just need to apply it to these other pages.

[2022-03-10 23:37] peterklingelhofer commented on #116
Closing this issue, as #196 has been merged.

[2022-03-10 23:37] #116 closed, assigned to webwelten

[2022-03-11 17:50] #187 closed, assigned to nobody

[2022-03-15 00:59] peterklingelhofer opened #208 "[mobile only] Sharing isn’t so mobile friendly"
### Operating system
iOS 15.3.1

### Browser name and version
[stream-app 1.1.1](https://github.com/peterklingelhofer/stream-app) (Safari)

### Expected behavior
For mobile users, sharing should present the user with the default sharing options for that user's phone.

### Actual behavior
For mobile users, sharing presents the user with a modal where the user can copy a URL/iframe.

### Steps to re

[2022-03-15 01:04] peterklingelhofer opened #209 "[mobile only] Add to playlist has floating search bar"
### Operating system
iOS 15.3.1

### Browser name and version
[stream-app 1.1.1](https://github.com/peterklingelhofer/stream-app)

### Expected behavior
Add to playlist modal should look as expected on mobile even when the user has a lot of playlists to potentially add a track to.

### Actual behavior
Add to playlist modal presents user with a floating search bar.

### Steps to reproduce behavior

[2022-03-15 01:07] peterklingelhofer opened #210 "Tag menu stays open after tag is clicked"
### Operating system
iOS 15.3.1

### Browser name and version
[stream-app 1.1.1](https://github.com/peterklingelhofer/stream-app) (Safari)

### Expected behavior
Search > tap a tag > go to tag page, but tag menu closes.

### Actual behavior
Search > tap a tag > go to tag page, but tag menu stays open. Since it covers most of the screen it’s hard to know if I’m on the new tag page

### Steps to rep

[2022-03-15 01:14] peterklingelhofer opened #211 "First track from Staff Picks Playlist is default Now Playing track"
### Operating system
iOS 15.3.1, macOS 11.6.2

### Browser name and version
[stream-app 1.1.1](https://github.com/peterklingelhofer/stream-app) (Safari), Firefox 97.0.2 (64-bit)

### Expected behavior
The user's previously playing track should be the default track when they load up the website/app, or the first track on https://stream.resonate.coop/releases?order=random.

### Actual behavior
"Recl

[2022-03-16 02:58] peterklingelhofer commented on #208
Would have thought something like this would work, but it appears `navigator.canShare` is `undefined` in this area of code. (I'm testing on my phone in Firefox, and going to [this MDN page](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share) and scrolling down to click the test button does successfully share the MDN link, so I know it's supported by my phone's browser.)

[code]

[2022-03-20 17:06] fgblomqvist opened #217 "Possible to play a full unowned track an infinite amount of times as long as you have more than 0.002 credits"
### Expected behavior
If I don't have enough credits to pay for a full listen for a track I don't yet own, I should only be able to listen to 45 seconds of it (the preview).

### Actual behavior
As long as I have more than 0.002 credits, I can freely listen to any unowned track, the full length, however many times I want without getting charged. Though, I don't get any more ownership shares of it.

[2022-03-23 11:03] fgblomqvist commented on #217
I see two possible solutions here:
1. Query the back-end before starting every song to determine if you can afford a play of it or not.
2. Duplicate the business logic into the front-end as well so that it can determine on its own if the song can be afforded.

Number 2 feels wrong and prone to error (not to mention user manipulation, down the road anyway).
Number 1 can be simplified like this:
1.

[2022-03-23 11:03] fgblomqvist commented on #217
cc: @auggod @jackhajb

[2022-03-23 11:12] auggod commented on #217
You may be running into a cache issue. The next api update will fix this issue.
Currently, we can add ?preview=true to the audio srcs to force the 45 secs snippets.

[2022-03-23 16:03] hakanto opened #218 "Display name and email misleadingly appear directly editable"
Name
Display name and email misleadingly appear directly editable

Description
Text entry boxes appear on the Update Your Account page which are not directly editable: Display name and E-mail. Instead, you must click Change your display name or Change your email and navigate to other pages.

Example for Display Name entry box:

sercxi
sercxi
731×188 8.19 KB
This is confusing because this black ent

[2022-03-23 16:12] hakanto opened #219 "Links to policies are incorrect"

[2022-03-23 16:13] #219 closed, assigned to nobody

[2022-03-24 10:37] fgblomqvist commented on #217
This seems to indeed have been fixed with the latest merge of the API changes.

[2022-03-24 10:37] #217 closed, assigned to nobody

[2022-04-05 23:24] simonv3 opened #225 "Unable to log in on localhost"
### Operating system
Linux Mint

### Browser name and version
Firefox 98

### Expected behavior
Able to log in

### Actual behavior
When I log in to the dev environment, I get redirected to the live api,

![image](https://user-images.githubusercontent.com/485583/161864717-a8edf93b-c648-499a-b1fd-5c1306329009.png)

`https://login.resonate.is/authorize?client_id=bt17o998d3b2m300u470.api.resonate.is&

[2022-04-05 23:46] simonv3 commented on #225
I'm trying one more thing, taking the step to generate a cert for `beta.stream.resonate.localhost`

So I try to install `mkcert`, running the command for `beta.stream.resonate.localhost` as specified in the `README.md`

![image](https://user-images.githubusercontent.com/485583/161868843-6c598eb1-6919-44d0-b5cd-f688b9bfed2f.png)

But still no dice. There's a lot involved in getting this running :sw

[2022-04-06 10:19] auggod commented on #225
Ideally, you should run your own `resonatecoop/id` and `resonatecoop/user-api`. The issue is that open sourcing the api behind the player is still a work in progress...

I have recently merged code to remove login form from the player. It was using the password grant from the id server. Now we're going to use the authorization code grant. This stuff is not yet live on stream.resonate.coop.

As a s

[2022-04-06 12:41] simonv3 commented on #225
@auggod thanks.

I feel like ironing this out should be a priority. _I'm willing to help with this_ but just need to actually figure out getting it running first. If this is in progress, should I just wait a month and come back then?

I got a bit further today, but it required a lot of tinkering with nginx, and it's still not actually working. I'm just going to document all of this in case it help

[2022-04-07 13:39] peterklingelhofer commented on #225
Hey @simonv3, and welcome!

I was not able to get nginx working with the project, and it should not be necessary to log in during local development. However, be aware that if you refresh the page, you will be logged out (per https://github.com/resonatecoop/stream/issues/155).

@auggod has been delivering a lot of updates to our back-end and login API in the past few days. For a few days there, I t

[2022-04-07 14:57] simonv3 commented on #225
@peterklingelhofer thanks!

Just to confirm you're able to get everything loaded when using the `localhost:8080` URL in the browser? When I use that, and click on "log in" in the top right corner, I get redirected to `beta.stream.resonate.localhost`, for which I get an "Unable to connect" error from the browser (as in, the standard "website doesn't exist" browser error)

I have an account from a s

[2022-04-07 22:40] peterklingelhofer commented on #225
@simonv3 you're absolutely right. As of this evening I am also getting redirected to https://beta.stream.resonate.localhost/api/v2/user/connect/resonate/callback?code=............................&state=.............................

Based on @auggod said above "Ideally, you should run your own resonatecoop/id and resonatecoop/user-api. The issue is that open sourcing the api behind the player is s

[2022-04-08 01:21] peterklingelhofer commented on #225
@simonv3 in the meantime, there are a few [issues](https://github.com/resonatecoop/stream/issues) you could try to tackle without having to log in. I've just marked every issue that should be accessible without having to log in with the **`good first issue`** label.

[2022-04-08 01:33] peterklingelhofer commented on #218
Should this issue live over with the **`id`** repo's [issues](https://github.com/resonatecoop/id/issues)? Based on your source url at first glance I'm guessing the code that needs to be fixed is in the `id/frontend/src/components` folder over there. I could be wrong though.

[2022-04-08 11:42] simonv3 commented on #225
Thanks for validating :sweat_smile:  @peterklingelhofer !

I've also noticed that because of it using production API, and it looks like production API allows `localhost:8080` for CORS, it's possible to grab the `client_id` off of one of the requests on the production stream instance and pass it along locally to fetch data.

I'll try and take a look at an issue over the weekend!

[2022-04-11 01:50] simonv3 commented on #189
Looking at the API response that populates this particular playlist:

[code]

It looks like the covers for all these songs actually are all the same (except for the second one). I dunno if that's a bug with the API then, maybe from when the songs were added to the playlist?

[2022-04-12 03:24] peterklingelhofer commented on #189
Hmmm... That means it could either be a problem with the `addToPlaylistAction` on L506 in `packages/menu-button-options-component/index.js` in this repository, or a bug in our `tracks-api` repository, which is not yet open source. If it's on this side, I think we need to check and see if `data.cover` on L546 is always correct. When a track gets the wrong album art, in my experience, it's always be

[2022-04-15 00:41] simonv3 opened #226 "Unable to buy a song"
### Operating system
Linux Mint

### Browser name and version
Firefox 98.02

### Expected behavior
I'm able to buy a song

### Actual behavior
Attempting to buy a song returns a 404 and "Something unexpected happened" pops up.

![image](https://user-images.githubusercontent.com/485583/163497670-7aff1244-adef-4a0d-a604-abea559dd11b.png)

This is the request that gets sent
[code]

### Steps to repro

[2022-04-15 10:32] auggod commented on #226
Seems this issue went unnoticed for a bit of time. The v2 api is not affected. I have pushed a fix early this morning. It didn't affect all tracks.

[2022-04-15 12:19] simonv3 commented on #226
Awesome, looks like when I clicked on the steps now it went through!

[2022-04-15 12:19] #226 closed, assigned to nobody

[2022-04-20 22:59] peterklingelhofer opened #227 "Notifications are unsupported on iOS mobile"
### Operating system
iOS 15.3.1

### Browser name and version
Safari in [stream-app](https://github.com/peterklingelhofer/stream-app)

### Expected behavior
Notification settings should be displayed only when usable.

### Actual behavior
Notification settings are displayed for iOS even though they are [unsupported](https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifi

[2022-04-21 15:04] #227 closed, assigned to peterklingelhofer

[2022-04-21 15:07] #210 closed, assigned to nobody

[2022-04-23 03:22] peterklingelhofer commented on #168
Attempting to hide the "Learn" menu for iOS mobile browsers and the iOS [stream-app](https://github.com/peterklingelhofer/stream-app) users, as pressing it does nothing. Running into this error:

[code]

[code]

[2022-04-23 22:27] peterklingelhofer opened #230 "[iOS only] Volume control has no effect"
### Operating system
iOS 15.3.1

### Browser name and version
In Firefox Daylight 99.1

### Expected behavior
The volume control should have an effect on volume just like your phone's volume controls do.

### Actual behavior
The volume control has no effect for mobile users.

### Steps to reproduce behavior
Drag volume control up and down while playing a track.

[2022-04-24 02:04] peterklingelhofer commented on #218
Closing this as I've opened the issue in the repository where it will need to be addressed: [id#64](https://github.com/resonatecoop/id/issues/64)

GitHub wouldn't let me transfer it for some reason.

[2022-04-24 02:04] #218 closed, assigned to nobody

[2022-04-24 02:19] peterklingelhofer commented on #83
I can confirm I also get the error for the above songs on iOS as well.

A user [reported](https://community.resonate.is/t/testing-minimal-apps-for-android-and-ios/2613/108) and I [confirmed](https://community.resonate.is/t/testing-minimal-apps-for-android-and-ios/2613/111?u=peterklingelhofer) a _similar_ but not identical issue:

[2022-04-24 08:33] caprenter commented on #189
Here are a couple of more examples of playlists where this happens. the example at the start of this thread was also from me.
All playlists were made using Firefox on Ubuntu.
https://stream.resonate.coop/u/18562/playlist/radio-show
https://stream.resonate.coop/u/18562/playlist/2022-04-24-resonate-on-camp-radio

[2022-04-24 11:11] simonv3 commented on #83
In Firefox: it looks like while this works fine in the `audio` tag inside HTML, when I reference that streamed file directly in the browser it does complain that the file is corrupt:

https://api.resonate.coop/v1/stream/418

[2022-05-03 11:59] caprenter commented on #225
Hello
I'm also struggling to get this working.
I have an instance up and running, (following the first few paragraphs of the read me) but I can't see/fetch any data - images and tracks don't load.

I get a 404 if I go to http://localhost:8080/login

I can see that if I adapt a 'known' URI that stuff is getting blocked:
https://stream.resonate.coop/u/18562/playlist/2022-04-24-resonate-on-camp-radio

[2022-05-03 12:29] peterklingelhofer commented on #225
Hey @caprenter,

I believe the login issues are to be expected currently, while we transition to the new login. It's why the [beam app](https://github.com/simonv3/beam) uses a token to log in currently (check the Readme for directions as to how to get a token).

The other fetch issues seem to new to me though. Maybe until those are resolved you could assist with some of the issues for the [beam ap

[2022-05-03 12:35] auggod commented on #225
@caprenter I see your sending a request to beta.stream.resonate.coop and not stream.resonate.coop. That should be the issue.

[2022-05-03 12:39] simonv3 commented on #225
Yeah, I think this is slightly different from the issue I reported.

If you update your `.env` file with this value you'll see everything loaded:

[code]

When I do that, I do see albums and everything, but when I click on "Log in" I still get redirected to the live `stream.resonate.coop` (as per the original issue).

[2022-05-03 17:43] caprenter commented on #225
Thank you everyone - the environment variables are the answer to my issue. Sorry if that's taken this thread off topic.

In the README https://github.com/resonatecoop/stream/blob/c921f028abbaa00ad40a33f0d7439ed27d7278f1/README.md?plain=1#L80 I wondered if just copying the example was enough. I'm not sure if I should have known to make the change in the .env file.

Does that need adding in to the R

[2022-05-03 19:09] simonv3 commented on #225
It's probably worth just updating the .env.example file directly I think?

[2022-05-03 20:54] caprenter commented on #129
I think there is something not quite working here.

The following do NOT produce nice twitter cards - testing at https://cards-dev.twitter.com/validator
https://stream.resonate.coop/artist/17709
https://stream.resonate.coop/artist/17709/release/reclaim-these-streets

(I seem to be able to find many examples like this)

But this does:
https://stream.resonate.coop/artist/718/release/acid-sauna

I ca

[2022-05-03 21:04] caprenter commented on #189
I think I've worked out where this behaviour occurs.

If I add a track to the playlist from the 'playing widget' it gets the correct artwork - where it seems to use the 'playlist artwork' is when a track is added from a release page track list, or directly from an artist page i.e. not in the 'now playing widget'

Hope that makes sense. I'm not familiar enough with the code yet to check it.

[2022-05-03 21:32] caprenter commented on #189
I think that the duplicate cover art is always the artwork from the first track in the playlist - which is also the artwork given to the playlist itself when it is first created.

[2022-05-04 08:47] caprenter opened #232 "Docker set up doesn't work for me"
### Operating system
Ubuntu 20.04

### Browser name and version
Firefox 99

### Expected behavior
I'm expecting to see a running streaming site on http://localhost:8080 when I run docker-compose up -d

### Actual behavior
The build fails in a couple of places. When I fix those I don't seem to have a persistent image that stays up

### Steps to reproduce behavior
Clone the repo
cd stream
docker-com

[2022-05-04 11:38] auggod commented on #232
The docker compose config is up to you. I think, after adding the missing .env and creating the dhparam dir, it should be working.

[2022-05-04 11:44] caprenter commented on #232
Ok - thanks. I'll investigate further.

[2022-05-04 11:51] auggod commented on #232
Maybe the changes I have just made to the docker-compose.yml file will help.

[2022-05-04 14:54] caprenter commented on #232
Yes that does help. Thanks! I am relatively new to using docker, so maybe I should have spotted something odd with those volumes, but I didn't!

So to confirm. I'm pretty sure my steps are:

Clone the repo and cd into it:
`git@github.com:resonatecoop/stream.git`
`cd stream`

Create 2 .env files
 `cp beta/.env.example beta/.env`
`cp embed/.env.example embed/.env`

Create a directory for the certbot

[2022-05-05 11:04] caprenter opened #234 "Update footer links"
I think this is an issue to synchronise the footer links across platforms.
See: https://github.com/resonatecoop/website/issues/23
and (linked from the above)https://community.resonate.is/t/header-and-footer-links-for-new-player-and-website/1587

I think this is something I can do so I hope it's ok to create this issue.

The links are in `/beta/src/components/footer/index.js`

[2022-05-05 13:55] caprenter commented on #234
This is where I'm at with matching links.
NB I have already changed some of the stream ones - so they may or may not match the current deployment - but that doesn't really matter for this issue. I need some clarification.

The below are the ones causing me problems.

- Website is the latest from https://github.com/resonatecoop/website (running in docker - baseURL is resonate.space)
- Stream is thi

[2022-05-05 15:17] caprenter commented on #166
This solution is for the streaming site (this repo) and would currently give us the link:  resonate.localhost/about (with SITE_DOMAIN defined in the /base/.env file) WITHOUT "https://"

So I think it's a good solution as long as we can put https:// in the SITE_Domain variable in .env - is that acceptable?

[2022-05-05 16:06] caprenter commented on #232
Just an update.

I think the above gives me a version of the site that runs, but that cannot be developed easily.
(i.e. if I change a file, it doesn't update on the fly)
I've been googling around and also seen posts about how and when the npm install command is run, and setting up volumes outside the container so that node can watch changes (or the use of  the 'nodemon' module to watch for changes

[2022-05-05 17:08] simonv3 commented on #232
FWIW, in my experience doing automatic reloaded front-end web dev inside docker can be pretty slow.

[2022-05-10 19:29] hakanto opened #235 "Moon landing [test epic]"

[2022-05-10 19:35] hakanto opened #236 "Build lander [test epic]"

[2022-05-10 19:51] hakanto opened #237 "Chart course [testing zenhub]"
### Operating system
Write here.

### Browser name and version
Write here.

### Expected behavior
Write here.

### Actual behavior
Write here.

### Steps to reproduce behavior
Write here.

[2022-05-10 20:05] #237 closed, assigned to nobody

[2022-05-10 20:05] #236 closed, assigned to nobody

[2022-05-10 20:21] #235 closed, assigned to nobody

[2022-05-24 14:05] jmborden opened #238 "Close the phase 1 deal with Justifay"
- [x] Create a draft agreement based on Daniel's template
- [ ] Send draft to Justifay for review
- [ ] Incorporate any changes from Justifay
- [ ] Sign

[2022-06-16 14:48] #238 closed, assigned to nobody

[2022-07-08 07:48] ruzko opened #242 "dark mode obscures track progress bar"
### Operating system
Android 10
QPIS30.28-Q3-28-26-4-1-7

### Browser name and version
Firefox Fennec F-droid
102.1.1 (Build #1021120), f61b8e3a3+
AC: 102.0.12, 1566dca4ac
GV: 102.0-20220701130027
AS: 93.1.0

### Expected behavior
Player track bar is easily distinguishable regardless ofdark mode.

### Actual behavior
When using the "dark reader" firefox extension, it's difficult to see the track p

[2022-07-11 17:58] giraffekey opened #243 "Select and display music licenses."
I think artists should be able to make it clear whether their work is All Rights Reserved, Creative Commons or otherwise. This can be solved by allowing artists to add license metadata to their albums, which can be displayed under "Year" and above "Tags" on album pages.

[2022-07-18 21:03] ruzko opened #244 "Playback stops after 1 song on Android 10 with Firefox mobile [f-droid]"
### Operating system
Android 10
QPIS30.28-Q3-28-26-4-1-7

### Browser name and version
Fennec f-droid (Firefox Mobile)
102.1.1

### Expected behavior
Music keeps playing when phone is locked, even with browser using battery optimization.

### Actual behavior
Playback stops after current song finishes when phone is locked.

### Steps to reproduce behavior
Ensure internet browser is using [battery o

[2022-07-29 14:28] sphinxc0re opened #245 "Unable to top up account"
### Operating system
Arch Linux

### Browser name and version
Firefox 103.0 (64-bit)

### Expected behavior
I can pay and top up my account

### Actual behavior
I just get the message: "Unexpected payment status"

### Steps to reproduce behavior
Try to pay and top up your account

[2022-08-04 13:44] auggod commented on #245
We're using stripe on the backend to process topups. I can see your attempts to purchase credits were either cancelled or incomplete. Also, 3d secure may be triggered in your case and you didn't complete the process.

[2022-08-04 13:44] #245 closed, assigned to nobody

[2022-08-04 13:48] auggod commented on #242
Is this a third party extension to firefox? Using a similar feature with brave (built in), I don't experience this kind of issue. I'd be happy to fix this but maybe this is not a problem that can be fixed on our end without breaking other things.

[2022-08-05 10:32] simonv3 commented on #242
Firefox feels like it's going to be a more used browser than Brave, so I feel like tuning the dark mode to work in it makes sense? Looks like all we'd need to do is make the "played" segment of the player a lighter color than just grey?

[2022-08-11 11:56] peterklingelhofer commented on #168
Maybe adding `tabindex="0"`?

https://stackoverflow.com/questions/66477748/focus-within-works-on-android-browser-but-not-ios

[2022-08-12 22:17] peterklingelhofer commented on #168
Solution: https://github.com/resonatecoop/website/pull/41

[2022-08-13 02:34] hakanto opened #252 "No changes on pages Browse:Artists and Browse:Labels"
Not sure if this is a bug.

On https://stream.resonate.coop/artists and https://stream.resonate.coop/labels there have been no noticeable changes in the artists and labels displayed in a very long time. Not sure why this is.

[2022-08-13 09:02] auggod commented on #252
You're right, I found out there was still a condition on the track album art|album... 3-4 pages were missing. Just fixed this.

[2022-08-13 09:02] #252 closed, assigned to nobody

[2022-08-13 13:28] peterklingelhofer commented on #242
I've never seen a progress bar on macOS or iOS in any browser or in the `stream-app`. Strange it doesn't even show up for me. I didn't know this existed until this issue was created.

[2022-08-14 13:39] #168 closed, assigned to nobody

[2022-08-15 18:19] hakanto opened #262 "Non-authed visitor unable to listen to entirety of "free" track"
Before migration, I believe non-authed visitor users were able to listen to entirety of tracks that are set as "free".

Post-migration, this no longer appears possible. Playback stops at 45 secs as is typical for "Paid" tracks.

Steps to reproduce:

1. Go to stream.resonate.coop while not logged into an account.
2. Attempt to play [Can be reclaimed](https://stream.resonate.coop/track/23552) or [Ja

[2022-08-15 18:30] hakanto opened #263 "In playback bar, artist name displays as "Drafts""
![drafts](https://user-images.githubusercontent.com/72839766/184694056-82d7d068-e663-4eca-a627-04d136014e7e.png)

I've triplechecked that the artist display name on dash.resonate.coop is set as "Jaded Forum". Unsure why during playback, the artist name is displaying as "Drafts". Only happens during playback.

Only seems to affect Jaded Forum: Episode 9 -- https://stream.resonate.coop/artist/21687/

[2022-08-15 18:51] auggod commented on #263
Just fixed the problem. Drafts was set as the track artist (it was in the audio file metadata)

[2022-08-15 18:51] #263 closed, assigned to nobody

[2022-08-15 20:08] auggod commented on #262
I have already pushed a fix. Thank you for the heads up.

[2022-08-15 20:08] #262 closed, assigned to auggod

[2022-08-16 02:45] peterklingelhofer commented on #172
https://community.resonate.coop/t/warning-resonate-infrastructure-in-flux-coming-week-s-effective-immediately/3159

[2022-08-16 02:45] #172 closed, assigned to nobody

[2022-08-16 02:47] peterklingelhofer commented on #125
Potentially the same issue: #244, reported from a:

Android 10
QPIS30.28-Q3-28-26-4-1-7

Fennec f-droid (Firefox Mobile)
102.1.1

[2022-08-16 02:47] peterklingelhofer commented on #244
Potentially the same issue: #125.

[2022-08-16 02:50] peterklingelhofer commented on #83
This is fixed now: https://stream.resonate.coop/artist/1295/release/the-trip.

[2022-08-16 02:50] #83 closed, assigned to nobody

[2022-08-16 02:57] peterklingelhofer commented on #166
Hey @caprenter, yes, I think that would be acceptable (apologies for the delayed response).

[2022-10-07 14:11] OutersiderOfficial opened #278 "I can't access to my account"
Hello; I'm a musician name "Outersider", I'm trying to login to my account; but it won't let me and instead, it force me to create a new one with the same email address I use; unfortunately, the website won't allow me from ever completing my other account as I repeateadly press the [Next] icon. My request is to delete my alternate incomplete recent account and I want to have access to my original

[2022-10-08 01:23] peterklingelhofer commented on #278
Hey, thanks for the bug report! Is [this](https://community.resonate.coop/t/error-when-logging-in-as-artist-forbidden-csrf-token-invalid/3233) the issue you're experiencing? Or is it something else? It sounds like attempting to log in takes you to an account creation page?

[2022-10-08 19:50] OutersiderOfficial commented on #278
Thank you so much for the response. Yes, unfortunately, I try to access my original account, but it won't let me because it doesn't recognize my email address as if I never made an account with that same email address, so instead I try to create an alternative account as a way for me to upload my music, but I can't complete it. Here's an example:

<img width="1181" alt="Screen Shot 2022-10-08 at 3

[2022-10-08 21:37] peterklingelhofer commented on #278
Thanks again for detailing this bug report. I expect that this is a similar issue to [this](https://github.com/resonatecoop/website/issues/61#issuecomment-1272209395).

Our current goal is to [replace](https://docs.resonate.coop/) what's going on here with more well-supported authorization framework, so we hope to be able to resolve this!

[2022-10-08 23:40] OutersiderOfficial commented on #278
Thank you, I'll be going over it. I'll keep you posted and let you know when it's resolved.

[2022-10-18 05:38] OutersiderOfficial commented on #278
So far the log-in website is mostly resolved, I will experiment as I've deleted my recent account and see if I can access to my original account. I'll let you know, if I can access to it or not.

[2022-10-21 21:09] OutersiderOfficial commented on #278
Sorry for the late response, but unfortunately, I can't access to my artist account. I try to start over a new one and it display this error below:

<img width="722" alt="Screen Shot 2022-10-21 at 5 07 20 PM" src="https://user-images.githubusercontent.com/115252858/197289032-49bbb72f-5152-4215-9798-405f5c92fde4.png">

[2022-10-21 21:29] simonv3 commented on #278
Hey @OutersiderOfficial, thanks for continuing to try! Just wanted to share [this post](https://community.resonate.coop/t/product-development-update-october-2022/3286) (which @peterklingelhofer shared a part of above) to see the state of the API & log-in server.

Augustin is still around but only very very sporadically and he's the only one who's currently able to actively debug this. The focus of

[2022-10-21 21:58] OutersiderOfficial commented on #278
That is super unfortunate; am sorry to hear that, maybe I can try out my other email and use it to build a new artist account, if possible. Not only I like to upload my music to the website, but to boost Resonate because I see so much value for it due to it's core principle. Hopefully I can use my music platform to help yours, even if it won't do much. I wish you the best, and I'll let you know, i

[2022-10-21 22:10] OutersiderOfficial commented on #278
It appears, it won't happen. In the meantime, I'll wait until the website gets to be fix at some point. Again, I will ensure Resonate will be boosted on my end, once the situation is resolved.

[2022-10-22 12:44] simonv3 commented on #278
Thanks for understanding, and we do really appreciate your support!!!

[2022-10-24 22:31] OutersiderOfficial commented on #278
Okay, so good news is I changed my username and it accept me as a new artist account, and I did my music release submission. I'll wait and see if this whole plan goes through, once I get a response.

<img width="531" alt="Screen Shot 2022-10-24 at 6 30 38 PM" src="https://user-images.githubusercontent.com/115252858/197642279-85e19124-7a73-4a40-ab9e-a01d557ddb9c.png">

[2022-10-26 12:51] auggod commented on #278
The issue is that there's a duplicate account. 2 emails are stored with different capitalization.
The capitalized email is older than the one that is not.

There seems to be a small number of accounts affected. I have no idea why, looks like an old problem.

In your situation, I would need to delete the duplicate account and lowercase the email for the older account.

You may have to reset your pa

[2022-10-26 13:31] auggod commented on #278
I have deleted accounts affected with this issue.  (duplicated) You will have to login again and maybe reset your password.

[2022-10-26 21:04] OutersiderOfficial commented on #278
Again, I apologize for the late response. Thank you for your help. I'll be going over it, once I get out of work.

[2022-10-27 05:48] OutersiderOfficial commented on #278
Once I log-in; it states that I'll be creating a new artist account from scratch which is fine. I fill up the artist's new profile informations; but once I finish it. It states that there's an error; which I'll explain more details below these images.

The page I clicked:
<img width="246" alt="Screen Shot 2022-10-27 at 1 16 56 AM" src="https://user-images.githubusercontent.com/115252858/198197998-

[2022-10-27 05:49] OutersiderOfficial commented on #278
I think everything (both new accounts plus the old from March 2022) needs to be completely deleted and start a new one. Plus the checkout box needs to be responsive to complete the account. I hope this clears up 🤞.

If you have any question or specific detail, I missed out on, please notify me. It's unfortunate that this issue is still ongoing.

[2022-10-29 18:15] peterklingelhofer commented on #278
@OutersiderOfficial thanks so much for working so dutifully to troubleshoot this. Glad @auggod got you some movement on this front, but it looks like now you're falling prey to the [CSRF token issues](https://community.resonate.coop/t/error-when-logging-in-as-artist-forbidden-csrf-token-invalid/3233) a couple others are falling prey to as well. Check out that thread to read in-depth at how we're w

[2022-10-29 19:05] OutersiderOfficial commented on #278
Yea, I'm not surprised. Man I really wish I have the financial support to help you guys out right now. I'll be getting a second job soon. I know more money doesn't equal better quality; but in this particular circumstance, being severely underfunded in the midst of this economic nightmare limits access to more time helping the community out. Soon, I'll gain a bit financial leniency, so there's roo

[2022-11-09 14:15] narFnarF opened #279 "Add whole album to favorite or playlist"
### Operating system
Win 10

### Browser name and version
Firefox 106

### Expected behavior
A way to add the whole album to my favorites or to a playlist

### Actual behavior
No way to add the full album, other than adding each song manually.

### Steps to reproduce behavior
1. Go to an album page
2. Click the "..." menu

[2022-11-10 14:36] simonv3 commented on #279
Hey @narFnarF. This is a great idea and has been discussed a [couple](https://community.resonate.coop/t/favourite-an-album/2704) [of](https://community.resonate.coop/t/user-music-library-favoriting-following/1264/2?u=psi) [times](https://community.resonate.coop/t/being-able-to-add-artists-to-favorites/2327) before on the community forum. In the legacy API there is actually a PR that's outstanding

[2022-11-10 15:28] narFnarF opened #280 "Very long pieces of music are cut before the end"
### Operating system
Windows 10

### Browser name and version
Firefox 106

### Expected behavior
The entire song is played

### Actual behavior
Long songs are cut and skip to the next one after about 5 minutes.

### Steps to reproduce behavior
1. Login using an account with credits
1. Find an album with very long songs (for example this one: https://stream.resonate.coop/artist/22338/release/wubu2

[2022-11-10 16:21] simonv3 commented on #280
Super curious. It looks like it's only downloading a chunk of the song:

![image](https://user-images.githubusercontent.com/485583/201149607-431f6147-17d6-48fb-aab7-cc429e53f5cc.png)

It does this when accessing the track directly too, and I wonder if that's just the standard request timeout for a server. I imagine this will also be an issue on beam.

This would be fixed by switching to [HLS strea